<!-- Large Model -->
<div class="modal fade" id="editSpecimenModal{{specimen.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
              <form action="{% url 'edit_specimen2' patient.id specimen.id %}" method="POST">

          <div class="modal-header">

                <h4 class="modal-title center">

                        <button class="btn " type="submit"><i class="fa fa-save"></i>Save And Close</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <!--
                <button type="button" onclick="OpenModal9()">dsss</button>
                -->
                </h4>
          </div>
          <div class="modal-body">
                {% csrf_token %}
                {% for field in edit_specimen_form %}
                    <div class="form-group row col-md-11 col-sm-10">
                      <label for="{{ field.id_for_label }}" class="col-sm-3 control-label"><small> {{ field.label }}</small> </label>
                      <div class="col-sm-9">
                         <small> {{ field }} </small>
                      </div>
                    </div>
                {% endfor %}
              </form>
          </div>
      </div>
  </div>
</div>