{% extends "base.html" %}
{% load static %}
{% block title %} Medical Emergency types {% endblock %}
{% block page_content %}
    <table class="mdl-data-table ml-table-bordered mdl-js-data-table mdl-data-table is-upgraded">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">#</th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Category</th>
                <th class="mdl-data-table__cell--non-numeric">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for emg_type in emergency_types %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"> {{ forloop.counter }} </td>
                    <td class="mdl-data-table__cell--non-numeric"> {{ emg_type.name }} </td>
                    <td class="mdl-data-table__cell--non-numeric"> {{ emg_type.category }} </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <div>
                            <div class="col-sm-"> 
                                <a href="{% url 'emergency:edit_emg_type' emg_type.id %}">
                                    <button type="button" class="btn btn-info btn-rounded btn-icon"> <i class="fa fa-edit"></i> </button>
                                </a>
                                <a href="{% url 'emergency:delete_emg_type' emg_type.id %}">
                                    <button type="button" class="btn btn-danger btn-rounded btn-icon"> <i class="fa fa-times"></i> </button> 
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
        