<div class="modal fade" id="triageTableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Triage Color table</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table border="2px">
                    <tbody>
                        <tr>
                            <td>Triage Score</td>
                            <td>>7</td>
                            <td>5-6</td>
                            <td>3-4</td>
                            <td>0-2</td>
                        </tr>
                        <tr>
                            <td>Mechanism</td>
                            <td>-</td>
                            <td>High energy transfer</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Presentation</td>
                            <td>
                                <ul>
                                    <li>Seizure(current)</li>
                                    <li>Burn</li>
                                    <li>Hypoglycemia</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Reduced consciousness</li>
                                    <li>Seizure</li>
                                    <li>Acute focal neuro symptoms</li>
                                    <li>psychosis/aggression</li>
                                    <li>Burn(electric, chemical)</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Burn(other)</li>
                                    <li>Hemarrhage</li>
                                    <li>Closed fx</li>
                                    <li>Minor dislocation</li>
                                    <li>Pregnancy</li>
                                </ul>
                            </td>
                            <td>All other patients</td>
                            <td>Dead on Arrival</td>
                        </tr>
                        <tr>
                            <td>Color</td>
                            <td>RED</td>
                            <td>ORANGE</td>
                            <td>YELLOW</td>
                            <td>GREEN</td>
                            <td>BLACK</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#triageTableModal').modal('hide');">Close</button>
            </div>
        </div>
    </div>
</div>