<div class="modal fade" id="addParaclinicalModal{{patient.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form method="POST" action="{% url 'core:add_paraclinical_finding' patient.id %}" >
                        {% csrf_token %}

                <h4 class="modal-title center">
                        <button class="btn " type="submit">Save And Close</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </h4>
            </div>
            <div class="modal-body">

                    <div class="form-group col-md-12">
                        <div class="col">
                            <!--
                            <div>
                                <label for="labsection" class="col-md-3 control-label">Allergy</label>
                                <div class="col-md-9">

                                    {{finding_form.tags}}
                                </div>
                            </div>-->
                            <div>
                                <label for="labsection" class="col-md-3 control-label"><small>Note</small></label>
                                <div class="col-md-9">
                                    {{para_form.note}}
                                </div>
                            </div>

                        </div>
                        <div style="padding-top: 15px;padding-left: 0px;">
                            <div class="col-md-12" >
                                <div class="col">
                                    <div class="">
                                        <small><b>Documents</b></small>
                                    </div>
                                    <div class="card" >
                                            <div class="card-head" onclick="addParaImageForm()">
                                                <small><i  class="fa fa-plus"></i>Add Image</small>
                                            </div>
                                            <div class="card-body"  style="background-color: white;height: 100px;"
                                            >
                                                <div class="row" id="para-image-div-id" style="display: none;" >
                                                    <div>
                                                       <label for="labsection" class="col-md-3 control-label"><small></small></label>
                                                    </div>
                                                    <div>
                                                        <div class="col-md-9">
                                                            <small><input  name="images" type="file" multiple class="form-control-file"></small>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        function addParaImageForm() {
               document.getElementById('para-image-div-id').style.display = 'block';          
            }

        function closeSearchDiv() {
               document.getElementById('search-building-id').style.display = 'none';          
               document.getElementById('search-room-id').style.display = 'none';          
               document.getElementById('search-bed-id').style.display = 'none';          

                showingModal = true;
            }

</script>
