<div class="modal fade" id="editSurgeryModal{{surgery.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form method="POST" action="{% url 'core:edit_surgery' surgery.id %}" >
                        {% csrf_token %}

                <h4 class="modal-title center">
                        <button class="btn " type="submit">Save And Close</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="{% url 'core:delete_surgery' surgery.id %}" class="btn btn-danger" >Delete</a>

                </h4>
            </div>
            <div class="modal-body">

                    <div class="form-group col-md-12">
                        <div class="col">
                            <!--
                            <div>
                                <label for="labsection" class="col-md-3 control-label">Tags</label>
                                <div class="col-md-9">

                                </div>
                            </div>-->
                            <div>
                                <label for="labsection" class="col-md-5 control-label">Note</label>
                                <div class="col-md-7">
                                   <!-- <input type="text" name="allergy" value="{{allergy.allergy}}" id="allergy" class="form-control">-->
                                                <textarea name="note" value="{{surgery.note}}" id="surgery" class="form-control" style="width:200px; height: 150px;">{{surgery.note}}</textarea>
                               
                                </div>                        
                            </div>

                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
