                            
{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}

{% block page_content %}
        
{% include "pharmacy_app/alcohol_interaction_form.html" %}


    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>
                <ul class="nav nav-tabs">
  <li ><a href="{% url 'drug_interaction' %}" style="color: grey;">Drug Interaction</a></li>
  <li class="active"><a href="{% url 'alcohol_interaction' %}"  style="color: black;">Alcohol Interaction</a></li>
  <li><a href="#" style="color: grey;">Food Interaction</a></li>
  <li><a href="{% url 'disease_interaction' %}" style="color: grey;">Disease Interaction</a></li>

  <li><a href="{% url 'intake_mode' %}" style="color: grey;">Intake Mode</a></li>

</ul>               
                </header>
                <button id = "panel-button2" 
                       class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                       data-upgraded = ",MaterialButton">
                       <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       data-mdl-for = "panel-button2">
                       <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
            </div>
            <div class="card-body " id="bar-parent1">
              
        
                    {%block content1%}
                    <table id="example1" class="display table-bordered table-striped table-hover" style="width:100%;">
                        <thead>
                            <tr class="gradeX odd">
                                <th style=" ">Drug</th>
                                <th style=" ">Food</th>
                                <th >Relation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in alcohol_interaction_lists %}
                            {% if i.alcohol %}
                            <tr>
                                <td style=""> {{i.drug}}</td>
                                <td style="">{{i.alcohol}}</td>
                                <td>{{i.relation}}</td>
                            </tr>
                            {% endif %}   
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endblock %}
            </div>
            <div class="form-group row" style="padding-left: 50px;">
            <div class="offset-sm-2 col-sm-10"><
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-circle btn-primary"
                                data-toggle="modal" data-target="#addTestModalCenter">
                                Add Alcohol Interaction <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>                     
    {% block scripts %}
               
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>
            {% endblock %}

{% endblock %}

 