{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}
{% load crispy_forms_tags %}
{% block page_content %}
        

    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>Dispensary Structure</header>
                <button id = "panel-button2" 
                       class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                       data-upgraded = ",MaterialButton">
                       <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       data-mdl-for = "panel-button2">
                       <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
            </div>
            <div class="card-body " id="bar-parent1">
              
        
    <form action="" method="POST">
        		{% csrf_token %}
            
                <div class="form-group col-md-4">  
                    {{dispensary_structure_form.dispensary|as_crispy_field}}
                </div>
            	 <div class="form-group col-md-4">  
                    {{dispensary_structure_form.shelf_amount|as_crispy_field}}
                </div>
              	<div class="form-group col-md-4">  
                    {{dispensary_structure_form.slot_amount|as_crispy_field}}
                </div>
                <div class="form-group col-md-4">  
                    {{dispensary_stock_form.stock|as_crispy_field}}
                </div>

            	<div>
            		<input class="form-group btn btn-info" type="submit" name="Submit">
            	</div>
          
             
    </form>

    {% block scripts %}
        
    {% endblock %}

{% endblock %}

 