{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}

{% block page_content %}
        
<ul class="nav nav-tabs">
  <li ><a href="{% url 'supply_form' %}" style="color: grey;"></a></li>
  <li><a href="{% url 'stock_supply_form' %}" style="color: black;"></a></li>
  
</ul>  
    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>Stock</header>
                <button id = "panel-button2" 
                       class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                       data-upgraded = ",MaterialButton">
                       <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       data-mdl-for = "panel-button2">
                       <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
            </div>
            <div class="card-body " id="bar-parent1">
              
        
                    {%block content1%}
                    <table id="example1" class="display table-bordered table-striped table-hover" style="width:100%;">
                        <thead>
                            <tr class="gradeX odd">
                                <th style=" ">Stock</th>
                                <th style=" ">{{drug}} Shelf Quantity</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for in_stock, stock_quantity in stock_shelf_zip %}
                            <tr>
                                <td style=""> <a class="" href="{% url 'drug_location_stock_slot' in_stock.id pk2 %}"> {{in_stock}}</a></td>
                                <td style="">{{stock_quantity}}</td>
                              
                            </tr>
                                           
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endblock %}

    {% block scripts %}
               
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>
            {% endblock %}

{% endblock %}

 