{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block style %}
    <!-- data tables -->
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static '/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">

{% endblock %}
{% block title %} Prescriptions {% endblock %}

{% block page_content %}
                                         
            <div class="card">
                <div class="card-body">
    
                 <table class="mdl-data-table ml-table-bordered  " id="example4">
                    <thead>
                        <tr>                        	
                            <th class="mdl-data-table__cell--non-numeric"> Dispensary </th>
                            <th class="mdl-data-table__cell--non-numeric"> View Request </th>
                            <th class="mdl-data-table__cell--non-numeric"> Approve </th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for request in request_list %}
						<tr >
							
							<td class="mdl-data-table__cell--non-numeric">{{request.dispensary.dispensary}}</td>
							<td class="mdl-data-table__cell--non-numeric"><a href="{% url 'view_drug_request' request.dispensary.dispensary.id %}"> View Request </a></td>
							
							<td class="mdl-data-table__cell--non-numeric">Approve</td>
						</tr>
						{% endfor %}

					</tbody>
                </table>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->

{% endblock %}

	