   
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {% endblock %}
{% block style %}

{% endblock %}
{% block page_content %}
{% include "pharmacy_app/drug_image_form_modal.html" %}
{% include "pharmacy_app/active_image_form.html" %}


      <div class="container">
            <div class="col-md-9">
                <div class="row">

                  {% for image in images %}
                    <div class="col-md-4">
                        <div class="card my-2" >
                            <img class="image-thumbail" style="width: 220px; height: 250px;" src="{{image.image.url}}" alt="Card image cap">

                            
                            
                        </div>
                    </div>
                    {% empty %}
                    <h3>No photos...</h3>
                  {% endfor %}

                </div>
            </div>
      </div>
      <br>      
            <div class="offset-sm-2 col-sm-10"><
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-circle btn-primary" data-toggle="modal" data-target="#addTestModalCenter">
                                Add More Images <i class="fa fa-plus"></i>
                </button>
            </div>
            <!--
            <div class="offset-sm-2 col-sm-10"><
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-circle btn-primary"
                                data-toggle="modal" data-target="#activeImageForm">
                                Make Active <i class="fa fa-plus"></i>
                </button>
            </div>-->
{% endblock %}
                  
    {% block scripts %}
               
    {% endblock %}
                  
 
