{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}

{% block page_content %}
    
    {% include "pharmacy_app/threshold_form.html" %}
        

    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>Stock</header>
            </div>
            <div class="card-body " id="bar-parent1">
              
        
                    {%block content1%}
                    <table id="example1" class="mdl-data-table ml-table-bordered mdl-js-data-table mdl-data-table is-upgraded" >
                        <thead>
                            <tr class="gradeX odd">
                                <th class="mdl-data-table__cell--non-numeric">Drug</th>
                                <th class="mdl-data-table__cell--non-numeric">Quantity</th>
                                <th>Needed Amount</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for drug, quantity, needed_amount in threshold_zip %}
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric"> <a class="">{{drug}}</a></td>
                                <td class="mdl-data-table__cell--non-numeric">{{quantity}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{needed_amount}}</td>
                              
                            </tr>
                                           
                            {% endfor %}
                        </tbody>
                    </table>
                   
                    {% endblock %}
                     
    {% block scripts %}
               
            {% endblock %}

{% endblock %}

 