{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %} Prescriptions {% endblock %}

{% block page_content %}
{% include "pharmacy_app/partials/filter_daily_prescription.html" %}
{% include "pharmacy_app/partials/filter_employee_list.html" %}

    <div class="row">
        <div class="col-md-12">
        <div class="card" style="overflow-y:scroll;overflow-x:scroll; height: 650px;width: 1150px;">
                <div class="card-head">
                    <header>Prescriptions</header>
                <button class="btn btn-primary" data-toggle="modal" data-target="#filterEmployeeListModal">
                    <i class="fa fa-filter"></i> 
                </button>

                </div>
                
                                    <table class="mdl-data-table ml-table-bordered  " id="example4">
                                        <thead>
                                            <tr>
                                                <th class="mdl-data-table__cell--non-numeric"> Patient </th>
                                                <th class="mdl-data-table__cell--non-numeric"> Sex </th>
                                                <th class="mdl-data-table__cell--non-numeric"> Age </th>
                                                <th class="mdl-data-table__cell--non-numeric"> Address </th>
                                                <th class="mdl-data-table__cell--non-numeric"> Phone Number </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for patient in today_patient_list %}
                                                <tr class="odd gradeX">
                                                    
                                                    <td class="mdl-data-table__cell--non-numeric">{{patient}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{patient.sex}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{patient.age}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{patient.address}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{patient.phone_no}}</td>

                                                </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->
{% endblock %}
                               <div class="col-md-6 " id="drug-request-create">
                                <div class="card" style="overflow-y:scroll;overflow-x:scroll; height: 315px;width: 515px;">
                                            <div class="card-head">
                                                <header>Average Service Usage</header>
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#filteripdReportModal">
                                                <i class="fa fa-filter"></i> 
                                            </button>

                                            </div>
                                    <table class="mdl-data-table ml-table-bordered  " id="example4">
                                        <thead>
                                            <tr>
                                                <th class="mdl-data-table__cell--non-numeric"> Patient </th>
                                                <th class="mdl-data-table__cell--non-numeric"> Sex </th>
                                                <th class="mdl-data-table__cell--non-numeric"> Age </th>
                                                <th class="mdl-data-table__cell--non-numeric"> Address </th>
                                                <th class="mdl-data-table__cell--non-numeric"> Phone Number </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for patient in today_patient_list %}
                                                <tr class="odd gradeX">
                                                    
                                                    <td class="mdl-data-table__cell--non-numeric">{{patient}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{patient.sex}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{patient.age}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{patient.address}}</td>
                                                    <td class="mdl-data-table__cell--non-numeric">{{patient.phone_no}}</td>

                                                </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                    </div>
                                      </div>
