{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}

{% block page_content %}
        {%block content1%}
<ul class="navbar-nav ml-auto">
  <li class="nav-item"><a class= "nav-link "href="" style="color: grey;"></a></li>
  
</ul> 

    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>Procurement {{procurement_pk}}</header>
                <button id = "panel-button2" 
                       class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                       data-upgraded = ",MaterialButton">
                       <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       data-mdl-for = "panel-button2">
                       <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
            </div>
            <div class="card-body " id="bar-parent1">
                                                    <div class="btn-group btn-group-circle">
                                    <button type="button" class="btn btn-primary">By Batch</button>
                                    <button type="button" class="btn btn-circle-right btn-primary dropdown-toggle m-r-20" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(79px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        {% for batch in batch_array %}
                                        <li><a href="{% url 'procurement_batch'  procurement_pk batch.batch_no  %}">Batch {{batch.batch_no}}</a></li>
                                        {% endfor %}
                                        
                                    </ul>
                                    </div>
        
                    
                    <table id="example1" class="display table-bordered table-striped table-hover" style="width:100%;">
                        <thead>
                            <tr class="gradeX odd">
                                <th style=" ">Drug</th>
                                <th style=" ">Ordered Quantity</th>
                                <th style=" ">Supplied Quantity</th>
                                <th style=" ">Remaining Quantity</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for a, b ,c in procurement_zip %}
                            <tr>
                                <td style="">{{a.drug}}</td>
                                <td style="">{{a.quantity}}</td>
                                <td style="">{{b}}</td>
                                <td style="">{{c}}</td>
                               
                            </tr>
                                           
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endblock %}
             <a href="{% url 'stock_supply_form' procurement_pk %}" class="btn btn-primary"> Supply Stock</a>


    {% block scripts %}
               
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>
            {% endblock %}

{% endblock %}

 