{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}

{% block page_content %}

{% include "pharmacy_app/procurement_form.html" %}

    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>Procurement</header>
                <div class="pull-right" style="padding-right: 16px;">
                    <!--<a type="button" data-toggle="modal" data-target="#addTestModalCenter2"> Add Procurement
                </a>-->
                <a href="{% url 'create_procurement' %}">Add Procurement</a>
                </div>
            
            </div>
            <div class="card-body " id="bar-parent1">
              
        
                    {%block content1%}

                    <table class="mdl-data-table ml-table-bordered mdl-js-data-table mdl-data-table is-upgraded" id="example4">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Procurement</th>
                                <th class="mdl-data-table__cell--non-numeric">Detail</th>
                                <th class="mdl-data-table__cell--non-numeric">Cancel</th>                
                            </tr>
                        </thead>
                        <tbody>
                            {% for procurement, status in procurement_zip %}
                            {% include "pharmacy_app/procurement_detail_form.html" %}

                           <tr> 

                              <td class="mdl-data-table__cell--non-numeric">
                                    <a href="{% url 'procurement_detail' procurement.procurement_no 1 %}">{{procurement}} </a>
                              </td>

                              {% if status %}
                              <td class="mdl-data-table__cell--non-numeric">
                                 
                                       <!-- <a type="button"  data-toggle="modal" data-target="#procurementDetailForm{{procurement.procurement_no}}">  <i class="fa fa-plus"></i>
                                          </a>-->
                                  <a href="" data-toggle="modal" data-target="#procurementDetailForm{{procurement.procurement_no}}"> <i class="fa fa-plus"></i>
                              </a>
                              </td>
                              
                              <td class="mdl-data-table__cell--non-numeric"><a href="{% url 'cancel_procurement' procurement.procurement_no %}" style="color: white"> Cancel </a> </td>
                              {% endif %}
                              {%  if not status %}
                              <td class="mdl-data-table__cell--non-numeric">Completed</td>
                              <td class="mdl-data-table__cell--non-numeric"></td>
                              {% endif %}
                        </tr>
                                           
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endblock %}

            
 
                     
    {% block scripts %}
               
    {% endblock %}

{% endblock %}

 