                            
{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}

{% block page_content %}
        
{% include "pharmacy_app/side_effect_form.html" %}


    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>
        
<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'drug_related_info' %}" style="color: grey;">Contraindications</a></li>
  <li><a href="{% url 'pathological_finding' %}" style="color: grey;">Disease</a></li>
  <li ><a href=""  style="color: black;">SideEffect</a></li>
  
  <li><a href="{% url 'age_range' %}" style="color: grey;">Age Range</a></li>
   <li><a href="" style="color: grey;">Weight Range</a></li>
</ul>
                </header>
                <button id = "panel-button2" 
                       class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                       data-upgraded = ",MaterialButton">
                       <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       data-mdl-for = "panel-button2">
                       <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
            </div>
            <div class="card-body " id="bar-parent1">
              
        
                    {%block content1%}
                    <table id="example1" class="display table-bordered table-striped table-hover" style="width:100%;">
                        <thead>
                            <tr class="gradeX odd">
                                <th style=" ">Side Effect</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            {% for side_effect in side_effect_lists %}
                            
                            <tr>
                                <td style=""> {{side_effect}}</td>
                                
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endblock %}
            </div>
            <div class="form-group row" style="padding-left: 50px;">
            <div class="offset-sm-2 col-sm-10"><
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-circle btn-primary"
                                data-toggle="modal" data-target="#addTestModalCenter">
                                Add Side Effect <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>                     
    {% block scripts %}
               
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>
            {% endblock %}

{% endblock %}

 