{% extends "base.html" %}
{% load static %}
{% block title %} Fill Supply Form {% endblock %}
{% load crispy_forms_tags %}
{% block style %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 



<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


{% endblock %}
{% block page_content %}
        
{% csrf_token %}
  
    <div class="row">
      <div class="col-md-7">
        <div class="card card-box">
            <div class="card-head">
                <header>Stock Supply Form</header>
                
            </div>
            <div class="card-body " id="bar-parent1">
              
            <form action="" method="POST">
      
            {% csrf_token %}

            <div class="form-row">
                 <div class="form-group col-md-2" style="padding-top: 35px;">
                    <p>Batch No:</p>
                  </div>

                <div class=" form-group col-md-8">
                    {{batch_form.batch_no|as_crispy_field}}
                </div>


            </div>

            <div class="form-row">
                 <div class="form-group col-md-2" style="padding-top: 35px;">
                    <p>Drug Info:</p>
                  </div>

                <div class=" form-group col-md-4">
                    {{batch_form.drug|as_crispy_field}}
                </div>
                <div class=" form-group col-md-4">
                    {{batch_form.quantity|as_crispy_field}}
                </div>


            </div>

            <div class="form-row">
                 <div class="form-group col-md-2" style="padding-top: 35px;">
                    <p>From - To</p>
                  </div>

             <div class=" form-group col-md-4">
                    {{stock_supply_form.stock_slot_no|as_crispy_field}}
                </div>
             <div class=" form-group col-md-4">
                    {{slot_form.stock_slot_no|as_crispy_field}}
                </div>

            </div>



            <div class="form-row">
                 <div class="form-group col-md-2" style="padding-top: 35px;">
                    <p>Supply Info:</p>
                  </div>

                <div class=" form-group col-md-4">
                    {{stock_supply_form.purchasing_cost|as_crispy_field}}
                </div>
                <div class=" form-group col-md-4">
                    {{stock_supply_form.supplier|as_crispy_field}}
                </div>
                
                
            </div> 
                <div class="form-row">
                 <div class="form-group col-md-2" style="padding-top: 35px;">
                    <p>Expiration Info:</p>
                  </div>

                    <div class="form-group col-md-4">                            
                        {{drug_expiration_form.manufacturing_date|as_crispy_field}}                        
                    </div>
                    <div class="form-group col-md-4">                            
                        {{drug_expiration_form.expiration_date|as_crispy_field}}                        
                    </div>
                </div>       
        
        <div class="form-row">
            <div class="form-group">
                <input  type="submit" class="btn btn-info" name="Submit">
            </div>
        </div>

        </form>

    </div>
  </div>
  </div>
              <div class="" style="overflow-y:scroll;overflow-x:scroll; height: 600px;width: 515px;">
                    <table class="mdl-data-table ml-table-bordered mdl-js-data-table mdl-data-table is-upgraded" id="example4">
                        <thead>
                            <tr class="gradeX odd">
                                <th class="mdl-data-table__cell--non-numeric">Drug</th>
                                <th class="mdl-data-table__cell--non-numeric">Ordered </th>
                                <th class="mdl-data-table__cell--non-numeric">Supplied </th>
                                <th class="mdl-data-table__cell--non-numeric">Remaining </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for a, b ,c in procurement_zip %}
                            <tr>
                                <td class="mdl-data-table__cell--non-numeric">{{a.drug}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{a.quantity}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{b}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{c}}</td>
                               
                            </tr>
                                           
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
</div>


    {% block scripts %}
  


  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>        
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
    $('#id_drug').select2();
    $('#id_stock_slot_no').select2();
     
});
</script>

    <script src="../assets/plugins/material/material.min.js"></script>
    <script src="../assets/plugins/material-datetimepicker/moment-with-locales.min.js"></script>
    <script src="../assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="../assets/plugins/material-datetimepicker/datetimepicker.js"></script>

      
    {% endblock %}

{% endblock %}

 