{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}

{% block page_content %}
        

    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>Building</header>
                <button id = "panel-button2" 
                       class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                       data-upgraded = ",MaterialButton">
                       <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       data-mdl-for = "panel-button2">
                       <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
            </div>
            <div class="card-body " id="bar-parent1">
              
        
                    {%block content1%}
                    <table id="example1" class="display table-bordered table-striped table-hover" style="width:100%;">
                        <thead>
                            <tr class="gradeX odd">
                                <th style=" ">Building</th>
                                <th>Visiting Price</th>
                                <th>Discounted Price</th>
                                <th>Generate</th>
 
                                <!--<th style=" ">Quantity</th>
                                <th>Actions</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            {% for card in card_list %}
                            <tr>
                                <td style=""> {{card.patient}}</td>
                            </tr>
                            <tr>
                                <td>
                                    {{card.visiting_card.visiting_price}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{card.visiting_card.discounted_price}}
                                </td>
                            </tr>
                                           
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endblock %}
                     
    {% block scripts %}
               
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>
            {% endblock %}

{% endblock %}

 