{% extends "base.html" %}
{%  load custom_dict %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <style>
        .quick-launch-container {
            display: inline-block;
            margin-left: 5px;
            padding-left: 5px;
            margin-right: 7px;
            border: black;
            border-width: 10px;
        }
        .quick-launch-label {
            display: block;
            color: black;
            font-weight: bold;
        }
        fieldset {
            padding-bottom: 10px;
            width: 150px; 
            border: 2px solid; 
            border-radius: 5px; 
            border-color: #0a7e37;
        }
        legend {
            color: black;
            width: max-content;
            font-size: 14px;
        }
        .add-allergy {
            position: absolute;
            bottom: 0;
            right: 3px;
        }
    </style>


{% endblock %}
{% block title %} Laboratory Requests {% endblock %}

{% block page_content %}

            <div class="tab-pane" id="consultation-list-tab">
                    <div class="row">

                        <div class="col-md-12" id="dispensary-supplied-drug-table-id" >
                            <div class="card" style="width: 1249px;padding-right: 30px;">
                            <div class="card-head" >
                                   <!-- <button  class="btn btn-circle" data-toggle="modal" data-target="#createBuildingModal">
                                    </button> -->
                                <div class="row">
                                {% if user.employee.designation.permission.billing.write_invoice %}
                                            <small style="padding-left: 50px;"> <span><a href="{% url 'add_invoice' %}">Add Invoice</a></span> </small> 
                                {% endif %}
                                           <small style="padding-left: 20px;"> <span><a href data-toggle='modal' data-target='#filterByDateModal'></a></span> </small>
                                           <small style="padding-left: 20px;" onclick="searchConsultation()"> <i class="fa fa-search"></i><label style="padding-left: 10px;">Search</label></small>
                                           <small style="padding-left: 20px;">
                                                <select hx-get="{% url 'invoices' %}?id=PatientAlphabet" hx-trigger='click'  hx-swap='innerHTML' hx-target='#drug_price_tab' hx-include="[name='last_x_days']"   name="last_x_days" id="">
                                                    <option value=90>Last 90 Days</option>   
                                                    <option value=1>Last 7 Days</option>  
                                                    <option value=30>Last 30 Days</option>   
                                                    <option value=0>All Time</option>   
                                                    
                                                </select>

                                            </small>
                                            <small style="padding-left: 0px;" class="add-allergy">                           
                                                <i class="fa fa-print"></i>
                                                <label>Print/Export</label>
                                            </small>

                                </div>

                            </div>
                        </div>

                        <div class="card card-box col-md-8" id="search-consultation-id" style="display:none;">
                           <div class="row" style="padding-bottom: 10px;">
                               <div style="padding-right:10px;">
                                    <label><small>Look For</small></label>
                               </div>
                               <form method="GET" id="search-consultation-form-id">
                                   <div>
                                        <input type="text" list="patient_data_list" name="search-consultation" id="search-consultation" class="col-md-6"> 
                                        <small><button type="submit" >Find Now</button></small> 

                                   </div>
                               </form>
                               <div class="pull-right">
                                    <a onclick="closeSearchConsultationDiv()"> <i class="fa fa-times"></i></a> 
                               </div>

                            </div>
                        </div>

                                    {% include 'billing_app\partials\htmx\invoice_list_htmx.html' %}

                        </div>
                    </div>
            
        </div>


<script type="text/javascript">
    
        function searchConsultation() {
               document.getElementById('search-consultation-id').style.display = 'block';          
                showingModal = true;
            }

        function closeSearchConsultationDiv() {
               document.getElementById('search-consultation-id').style.display = 'none';          
               
                showingModal = true;
            }


</script>
{% endblock %}

