{% extends "base.html" %}
{% load static %}
{% block title %} Create Visiting Card {% endblock %}
{% load crispy_forms_tags %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock%}
{% block page_content %}
          <div class="row">
            <div class="col-md-3 " id='service-card-id'>
                          <div class="card  card-box">
                                <div class="card-head">
                                    <header>Service List</header>
                                    <div class="tools">
                                      <a class=" btn-color fa fa-plus" id="addService" onclick="toggleServiceForm()"></a>
                                    </div>
                                </div>
                                <div class="card-body no-padding height-9">
                                    <div class="row">
                                        <div class="noti-information notification-menu">
                                            <div class="notification-list mail-list not-list small-slimscroll-style">
                                              {% for service in service_list %}
                                                      <a href="javascript:;" class="single-mail"> <span >                                                       </span> <span >{{service.service_name}}</span> 
                                                          <span class="notificationtime">
                                                              <small>{{service.service_price}} Birr</small>
                                                          </span>
                                                      </a>
                                                {% endfor %}
                                            </div>
                              <div class="full-width text-center p-t-10" >
                                <button type="button" class="btn purple btn-outline btn-circle margin-0">View All</button>
                              </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                              <form action="" method="POST" id="ServiceFormId" style="display: none;" >
                                      {% csrf_token %}
                                      
                                          <div class="form-group col-md-9">  
                                              {{service_form.service_name|as_crispy_field}}
                                          </div>
                                          <div class="form-group col-md-9">  
                                              {{service_form.service_price|as_crispy_field}}
                                          </div>
                                        <div class="form-group" style="padding-top: 15px;">
                                          <button class="form-group btn btn-primary"  type="submit" > Create</button>

                                        </div>
                                      
                              </form>
                        </div>
                        <div class="col-md-3">
                            <form action="{% url 'create_visiting_card' %}" method="POST" id="VisitingCardFormId" style="display: none;">
                                    {% csrf_token %}
                                    
                                        <div class="form-group col-md-9">  
                                            {{visit_form.service|as_crispy_field}}
                                        </div>
                                       <div class="form-group col-md-9">  
                                            {{visit_form.visiting_price|as_crispy_field}}
                                        </div>
                                        <div class="form-group col-md-9">  
                                            {{visit_form.discounted_price|as_crispy_field}}
                                        </div>
                                      <div class="form-group" style="padding-top: 15px;">
                                        <button class="form-group btn btn-primary"  type="submit" > Create</button>

                                      </div>
                                    
                            </form>
                        </div>

                      <div class="col-md-3 pull-right" >
                                    <div class="card  card-box">
                                          <div class="card-head">
                                              <header>Visiting Card List</header>
                                              <div class="tools">
                                                <a class=" btn-color fa fa-plus" id="addVisitingCard" onclick="toggleVisitingCardForm()" ></a>
                                              </div>
                                          </div>
                                          <div class="card-body no-padding height-9">
                                              <div class="row">
                                                  <div class="noti-information notification-menu">
                                                      <div class="notification-list mail-list not-list small-slimscroll-style">
                                                        {% for card in visiting_card_list %}
                                                                <a href="javascript:;" class="single-mail"> <span >                                                       </span>  <span >{{card.service}}</span> By {{card.service.service_team}}
                                                                    <span class="notificationtime">
                                                                       <span >                                                       </span> <small>{{card.visiting_price}} Birr</small>
                                                                    </span>
                                                                </a>
                                                          {% endfor %}
                                                      </div>
                                <div class="full-width text-center p-t-10" >
                                  <button type="button" class="btn purple btn-outline btn-circle margin-0">View All</button>
                                </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>


          </div>

{% endblock %}

  
    {% block scripts %}


    <script>

        function toggleServiceForm (){
          document.getElementById('ServiceFormId').style.display = 'block';
         
        }

        function toggleVisitingCardForm (){
          document.getElementById('VisitingCardFormId').style.display = 'block';          

        }

    </script>
      
    {% endblock %}

