{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %} Prescriptions {% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Prescription Lists</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body ">
                    <table id="example1" class="display table-bordered table-striped table-hover" style="width:100%;">
                        <thead>
                            <tr class="gradeX odd">
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Adress</th>                                
                                <th>Phone Number</th>
                                <th>Bed</th>
                                
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bed in beds %}
                                <tr>
                            <td>{{bed.patient.first_name}} {{bed.patient.last_name}}</td>
                                    <td> {{ bed.patient.sex }}</td>
                                    <td> {{ bed.patient.age }} </td>
                                    
                                    <td> {{ bed.patient.address }} </td>
                                    <td> {{ bed.patient.phone_number }} </td>
                                    <td> {{ bed }} </td>
                                  
                                  
                                             <td>
                                    <div class="btn-group btn-group-circle">
                                    <button type="button" class="btn btn-primary">Actions</button>
                                    <button type="button" class="btn btn-circle-right btn-primary dropdown-toggle m-r-20" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(79px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="{% url 'inpatient_prescription' bed.patient.id %}">Make Prescription</a>
                                        </li>
                                        <li><a href="{% url 'give_inpatient_service' bed.patient.id %}">Give Service</a>
                                        </li>
                                        <li><a href="{% url 'inpatient_observation_form' bed.patient.id %}">Observation</a>
                                        </li>

                                        <li><a href="{% url 'discharge_inpatient' bed.patient.id %}">Discharge</a>
                                        </li>
                                        
                                        
                                    </ul>
                                    </div>    
                                    </td>
                               
                                </tr>
                            {% endfor %}


                        </tbody>

                            <tr class="gradeX odd">
                                <td>Name</td>
                                <td>Gender</td>
                                <td>#Age</td>
                                <td>#Adress</td>                                
                                <td>#Phone Number</td>
                                <td>Allocate</td>
                            
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>
{% endblock %}