{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}
{% load crispy_forms_tags %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock%}
{% block page_content %}
{% include "inpatient_app/partials/choose_category_modal.html" %}
{% include "inpatient_app/partials/bed_release_date_info.html" %}
        

    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>Allocate Patient</header>
                <button id = "panel-button2" 
                       class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                       data-upgraded = ",MaterialButton">
                       <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       data-mdl-for = "panel-button2">
                       <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
            </div>
            <div class="card-body " id="bar-parent1">
              
        
    <form action="" method="POST">
        		{% csrf_token %}
              <div class="form-row">            
                <div class="form-group col-md-4">  
                    {{bed_form.bed|as_crispy_field}}
                </div>
                <div class="form-group" style="padding-top: 38px;">
                  <a data-toggle="modal" class="btn btn-primary " data-target="#chooseCategoryModal">
                      <i class="fa fa-filter "></i>
                    </a>

                  <a data-toggle="modal" data-target="#bed-release-date-info">
                      Check Bed Release Dates
                    </a>

                </div>
                <div class="form-group">

            </div>
              </div>
            	<div>
            		<input class="form-group btn btn-info" type="submit" name="Submit">
            	</div>
          
    </form>
    {% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>        
<script >
  $(document).ready(function() {
    $('#bed').select2();
});
  </script>
       
    {% endblock %}

{% endblock %}

 