
{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}
{% load crispy_forms_tags %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link href="{% static 'css/pages/formlayout.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'fullcalendar/main.css' %}" rel="stylesheet" type="text/css" />

{% endblock%}
{% block page_content %}
           <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Assign Doctor To Team</header>
                </div>
                <div class="card-body" id="bar-parent">

        
    <form class="form-horizontal" style="padding-left: 200px;" id="form_sample_1" action="" method="POST">
        		{% csrf_token %}
                <h3> </h3>
                <div class="form-group col-md-6 col-sm-6">  
                    {{assign_form.ward_service_provider|as_crispy_field}}
                </div>


                 
            	<div class="form-group" style="padding-top: 15px;">
                <button class="form-group btn btn-primary"  type="submit" > Submit</button>
                <a href="{% url 'ward_team_list' %}" class="form-group btn">Done</a>
            	</div>
            
    </form>
      </div>
    </div>
  </div>
</div>
</div>
    <div id="calendar"></div>

    {% block scripts %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>        
<script >
  $(document).ready(function() {
    $('#service-provider-id').select2();
    $('#room-id').select2();
});
  </script>

    <script src="{% static 'fullcalendar/main.js' %}" ></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          initialDate: '{{ initial_date | safe }}',
          eventOrder: 'color,start',
          events: {{ events | safe }},
          eventClick: function(info) {
            if(info.event.url) {
                console.log('redirecting to view employee page')
            }
          },
        });
        calendar.render();
      });
    </script>

      
    {% endblock %}

{% endblock %}

 