{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}
{% load crispy_forms_tags %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link href="{% static 'css/pages/formlayout.css' %}" rel="stylesheet" type="text/css" />

{% endblock%}
{% block page_content %}
       
 <!--   <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>
             Reason For The {{patient}} Assignment
                </header>
                <button id = "panel-button2" 
                       class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                       data-upgraded = ",MaterialButton">
                       <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       data-mdl-for = "panel-button2">
                       <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>

            </div>
            <div class="card-body " id="bar-parent1">
              <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
-->                <div class="card-head">
                    <header>
                                          <ul class="nav nav-tabs">
                        <li class="nav-item" >
                            <a href="#reason" data-toggle="tab" class="active">Reason</a>
                        </li>

                        <li class="nav-item">
                            <a href="#assessment" data-toggle="tab" >Assessment</a>
                        </li>


                    </ul>

                    </header>
                </div>


                <div class="card-body" id="bar-parent">
                        <div class="tab-content">
                            <div class="tab-pane active" id="reason">

        
                    <form class="form-horizontal"  id="form_sample_1" action="" method="POST">
                        		{% csrf_token %}
                                <h3> </h3>
                                <div class="row form-horizontal">
                                <div class="form-group col-md-6 col-sm-6">  
                                    {{inpatient_reason_form.reason|as_crispy_field}}
                                </div>
                                <div class="form-group col-md-6 col-sm-6">  
                                    {{inpatient_care_plan_form.care_plan|as_crispy_field}}
                                </div>
                              </div>
                                <div class="row form-horizontal">
                                <div class="form-group col-md-4 col-sm-3">  
                                    {{prediction_form.duration|as_crispy_field}}
                                </div>
                                <div class="form-group col-md-4 col-sm-3">  
                                    {{prediction_form.duration_unit|as_crispy_field}}
                                </div>


                                <div class="form-group col-md-4 col-sm-3">  
                                    {{priority_form.priority|as_crispy_field}}
                                </div>
                                 </div>
                            
                    
                  </div>
                            <div class="tab-pane" id="assessment">
                <div class="row">
                <div class="form-group col-md-6">  
                    {{assessment_form.general_appearance|as_crispy_field}}
                </div>

                <div class="form-group col-md-6">  
                    {{assessment_form.other_assessment|as_crispy_field}}
                </div>

                            </div>
                                <div class="form-group" style="padding-top: 15px;">
                                <button class="form-group btn btn-primary"  type="submit" > Assign</button>

                              </div>
</form>
                </div>
      </div>
    </div>
  </div>
</div>
</div>

    {% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>        
<script >
  $(document).ready(function() {
    $('#service-provider-id').select2();
    $('#room-id').select2();
});
  </script>

      
    {% endblock %}

{% endblock %}

 