{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %} Prescriptions {% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Prescription Lists</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body ">
                    <table id="example1" class="display table-bordered table-striped table-hover" style="width:100%;">
                        <thead>
                            <tr class="gradeX odd">
                                <th>Time</th>
                                <th>Prescriber</th>
                                <th>Patient</th>
                                <th>Diagnosis</th>
                                <th>Drug</th>
                                
                                <th>Comments</th>
                                <th>Administer</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for prescription in prescription_list %}
                                <tr>
                                    <td>{{prescription.registered_on}}</td>
                                    <td> {{ prescription.prescriber }}</td>
                                    <td> {{ prescription.patient }} </td>
                                    
                                    <td> {{ prescription.diagnosis }} </td>
                                    <td> {{ prescription.drug }} </td>
                                    <td>{{prescription.comments}}</td>

                                    <td><button class="btn btn-info"><a href="{% url 'drug_prescription_pharmacist_form' prescription.id  %}" style="color: white;">Administration Form</a></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>
{% endblock %}