{% extends "base.html" %}
{% load static %}
{% block title %} Fill Prescription Form {% endblock %}
{% block style %} 
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}

{% load crispy_forms_tags %}

{% block page_content %}
  
    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>Fill Prescription</header>
                <button id = "panel-button2" 
                       class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                       data-upgraded = ",MaterialButton">
                       <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       data-mdl-for = "panel-button2">
                       <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
            </div>
            <div class="card-body " id="bar-parent1">
              
     
    <form method="post">
    {% csrf_token %}
    
    <div class="form-row" >

      
      <div class="form-group col-md-3 mb-0">
        {{ prescription_form.info|as_crispy_field }}
      </div>
         <div class= "form-group col-md-3 mb-0">
        {{prescription_form.diagnosis|as_crispy_field}}
         </div>

    </div>

    <div class="form-row ">
          <div class="form-group col-md-6 mb-0">
          {{ prescription_form.comments|as_crispy_field }}
        </div>
    </div>

    

    <div class="form-row" style="padding-top: 10px;">   
     <div class= " form-group col-md-12 mb-0">
    <button type="submit" class="btn btn-primary">Prescribe</button>
      </div>
    </div>
    
  </form>

    {% block scripts %}
  
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>        
<script >
  $(document).ready(function() {
    $('#id_drug').select2();
    
});
  </script>

        
    {% endblock %}

{% endblock %}

 