{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
{% endblock %}
{% block title %} Prescriptions {% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Prescription Lists</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body ">
                    <table id="example1" class="mdl-data-table ml-table-bordered mdl-js-data-table mdl-data-table is-upgraded">
                        <thead>
                            <tr >
                                <th class="mdl-data-table__cell--non-numeric">Time</th>
                                <th class="mdl-data-table__cell--non-numeric">Prescriber</th>
                                <th class="mdl-data-table__cell--non-numeric">Patient</th>
                                <th class="mdl-data-table__cell--non-numeric">Diagnosis</th>
                                <th class="mdl-data-table__cell--non-numeric">Drug</th>
                                
                                <th class="mdl-data-table__cell--non-numeric">Comments</th>
                                <th class="mdl-data-table__cell--non-numeric">Administer</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for prescription in prescription_list %}
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">{{prescription.registered_on}}</td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ prescription.prescriber }}</td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ prescription.patient }} </td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ prescription.diagnosis }} </td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ prescription.drug }} </td>
                                    <td class="mdl-data-table__cell--non-numeric">{{prescription.comments}}</td>
                                    <td><button class="btn btn-info"><a href="{% url 'drug_prescription_pharmacist_form' prescription.id  %}" style="color: white;">Administration Form</a></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->
{% endblock %}