{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %} {% endblock %}
{% load crispy_forms_tags %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock%}
{% block page_content %}


    <div class="" style="width: 100%;">
        <div class="card card-box">
              <div class="card-body " id="bar-parent1">
              
        


                {% for medication, gap, range in medication_zip %}

                <h4 class="font-bold">{{medication.drug_prescription.drug}}</h4>
                    
                    
                <h5 class="font-bold">Administration Times</h5>
                
                    <span>                    
                    {{gap.first_time}}</br>
                    {% for i in range %}
                        {{gap.first_time.hour|add:gap.time_gap|mul:i}} a.m. </br>
                    {% endfor %}

                        <a href="{% url 'mark_drug_as_administered' medication.drug_prescription.id %}" class="pull-right"> Mark Drug As Administered</a>

                    </span>

                <h4 class="font-bold" style="padding-bottom: 20px;"></h4>
                    <p class="m-t-30"></p>
                

                <hr>
                    {% endfor %}
            
    {% block scripts %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>        
<script >
  $(document).ready(function() {
    $('#service_room').select2();
    $('#patient').select2();
});
  </script>

      
    {% endblock %}

{% endblock %}

 