{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block style %}
    <!-- data tables -->
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static '/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">

{% endblock %}
{% block title %} Prescriptions {% endblock %}

{% block page_content %}
                                         
    
        

					    <div class="col-md-12">
                            <div class="tabbable-line">
                                <ul class="nav nav-pills nav-pills-rose">
									<li class="nav-item tab-all"><a class="nav-link active show"
										href="#tab1" data-toggle="tab">List View</a></li>
									<li class="nav-item tab-all"><a class="nav-link" href="#tab2"
										data-toggle="tab">Grid View</a></li>
								</ul>
							
                                <div class="tab-content">
                                    <div class="tab-pane active fontawesome-demo" id="tab1">
                                        <div class="row">
					                        <div class="col-md-12">
					                            <div class="card  card-box">
					                                <div class="card-head">
					                                    <header></header>
					                                    <div class="tools">
					                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
						                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
						                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
					                                    </div>
					                                </div>
					                                <div class="card-body ">
					                                  <div class="table-scrollable">  
					                                    <table class="table table-hover table-checkable order-column full-width" id="example4">
					                                        <thead>
					                                            <tr>
					                                            	
					                                                <th> Name </th>
					                                                <th> Designation </th>
					                                                <th> Mobile </th>
					                                              
					                                                <th>Assigned Beds</th>
					                                                <th>Joining Date</th>
					                                                <th> Action </th>
					                                            </tr>
					                                        </thead>
					                                        <tbody>
					                                        	{% for nurse, amount in nurse_zip %}
					                                        	{% include "inpatient_app/partials/assign_nurse_to_bed_form_modal2.html" %}
																<tr class="odd gradeX">
																	
																	<td>{{nurse.full_name}}</td>
																	<td class="center">{{nurse.designation}}</td>
																	<td><a href="tel:4444565756">
																			{{nurse.phone_number}} </a></td>
																	<td>{{amount}} Beds</td>
																	
																	<td class="center">{{nurse.employed_date}}</td>
																	<td class="center">
																		<a href="" data-toggle='modal' data-target="#assign-nurse-to-bed-modal{{nurse.id}}">Assign To Bed </a>

																	</td>
																</tr>
																{% endfor %}

															</tbody>
					                                    </table>
					                                    </div>
					                                </div>
					                            </div>
					                        </div>
					                    </div>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <div class="row">
                                        	{% for nurse, bed_count in nurse_zip2 %}
					                        <div class="col-md-4">
				                                <div class="card card-box">
				                                    <div class="card-body no-padding ">
				                                    	<div class="doctor-profile">
				                                                <img src="../assets/img/user/user10.jpg" class="doctor-pic" alt=""> 
					                                        <div class="profile-usertitle">
					                                            <div class="doctor-name">{{nurse.full_name}} </div>
					                                            <div class="name-center"> {{nurse.designation}} </div>
					                                        </div>
				                                                <p>A-103, shyam gokul flats, Mahatma Road <br />Mumbai</p> 
				                                                <div><p><a href="tel:(123)456-7890">  {{bed_count}} Beds</a></p> </div>
					                                        <div class="profile-userbuttons">
					                                            <a href="staff_profile.html" class="btn btn-circle deepPink-bgcolor btn-sm">Assign To Bed</a>
					                                        </div>
				                                        </div>
				                                    </div>
				                                </div>
					                        </div>
					                        {% endfor %}


                    					</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>

    <script src="{% static '/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static '/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker-init.js' %}"></script>

{% endblock %}

	<!--							<div class="card">
<div class="card-body">
<div class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                                        {{ bed_release_form.release_date}}
                                        <span class="input-group-addon"><span class="fa fa-remove"></span></span>
                                        <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                    </div>
</div>
</div>
                                <div class="form-group row">
                                    <div class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">

                                        {{ bed_release_form.bed_release_date|as_crispy_field}}

                                        <span class="input-group-addon"><span class="fa fa-remove"></span></span>
                                        <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                    </div>
                                    <input type="hidden" id="dtp_input3" value="" />
                                    <br>
                                </div>
	
-->