{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
{% endblock %}
{% block title %} Unallocated Patient List {% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Inpatient List Lists</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body ">
                    <table id="example1" class="mdl-data-table ml-table-bordered mdl-js-data-table mdl-data-table is-upgraded" >
                        <thead>
                            <tr class="">
                                <th class = "mdl-data-table__cell--non-numeric">Name</th>
                                <th class = "mdl-data-table__cell--non-numeric">Gender</th>
                                <th class = "mdl-data-table__cell--non-numeric">Age</th>
                                                                
                                <th class = "mdl-data-table__cell--non-numeric">Priority</th>
                                <th class = "mdl-data-table__cell--non-numeric">Allocate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient, priority in inpatient_zip %}
                                <tr>
                            <td class = "mdl-data-table__cell--non-numeric">{{patient.first_name}} {{patient.last_name}}</td>
                                    <td class = "mdl-data-table__cell--non-numeric"> {{ patient.sex }}</td>
                                    <td class = "mdl-data-table__cell--non-numeric"> {{ patient.age }} </td>
                                    
                                    <td class = "mdl-data-table__cell--non-numeric"> {{ priority.priority }} </td>
                                  
                                  
                                    <td class = "mdl-data-table__cell--non-numeric"><a href="{% url 'allocate_patient' patient.id %}" >Allocate</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->
{% endblock %}