
{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %} Prescriptions {% endblock %}

{% block page_content %}
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a class="nav-link active show"
                                        href="#tab1" data-toggle="tab">List View</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#tab2"
                                        data-toggle="tab">Grid View</a></li>
                                </ul>

  
               <div class="tab-content">
  
                <div class="tab-pane active" id="tab1">

                <div class="card-body ">
                    <table id="example1" class="mdl-data-table ml-table-bordered  " style="width:100%;">
                        <thead>
                            <tr>
                                
                                <th class="mdl-data-table__cell--non-numeric"> Name </th>
                                <th class="mdl-data-table__cell--non-numeric"> Gender </th>   <th class="mdl-data-table__cell--non-numeric">Age</th>                                            
                                <th class="mdl-data-table__cell--non-numeric"> Address </th>
                                <th class="mdl-data-table__cell--non-numeric"> Phone Number </th>
                                <th class="mdl-data-table__cell--non-numeric"> Bed </th>

                            </tr>
                        </thead>

                        <tbody>
                            {% for ward in ward_team_bed %}
                                <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ward.bed.patient.first_name}} {{ward.bed.patient.last_name}}</td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ ward.bed.patient.sex }}</td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ ward.bed.patient.age }} </td>
                                    
                                    <td class="mdl-data-table__cell--non-numeric"> {{ ward.bed.patient.address }} </td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ ward.bed.patient.phone_number }} </td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ ward.bed }} </td>
                                  
                                  
                                             <td class="mdl-data-table__cell--non-numeric">
                                   <a href="{% url 'nurse_chart_view' ward.bed.patient.id %}">View Patient Chart</a>
                                    </td>
                               
                                </tr>
                            {% endfor %}
                            {% for ward in service_provider_bed %}
                                <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ward.bed.patient.first_name}} {{ward.bed.patient.last_name}}</td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ ward.bed.patient.sex }}</td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ ward.bed.patient.age }} </td>
                                    
                                    <td class="mdl-data-table__cell--non-numeric"> {{ ward.bed.patient.address }} </td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ ward.bed.patient.phone_number }} </td>
                                    <td class="mdl-data-table__cell--non-numeric"> {{ ward.bed }} </td>
                                  
                                  
                                             <td class="mdl-data-table__cell--non-numeric">
                                   <a href="{% url 'nurse_chart_view' ward.bed.patient.id %}">View Patient Chart</a>
                                    </td>
                               
                                </tr>
                            {% endfor %}

                        </tbody>
                                               </table>
    </div>
    </div>


                                    <div class="tab-pane" id="tab2">
                                        <div class="row">
                                             {% for ward in ward_team_bed %}
                                            <div class="col-md-4">
                                                <div class="card card-box">
                                                    <div class="card-body no-padding ">
                                                        <div class="doctor-profile">
                                                                 
                                                            <div class="profile-usertitle">
                                                                <div class="doctor-name">{{ ward.bed.patient.full_name }} </div>
                                                            </div>
                                                                <p>{{ ward.bed.patient.address }}</p> 
                                                                <div><p><a href="tel:(123)456-7890">  {{ ward.bed.patient.phone_number }}</a></p> </div>
                                                            <div class="profile-userbuttons">
                                                            <a href="{% url 'nurse_chart_view' ward.bed.patient.id %}">
                                                                <span class="">Patient Chart</span> 
                                                            </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                             {% for ward in service_provider_bed %}
                                            <div class="col-md-4">
                                                <div class="card card-box">
                                                    <div class="card-body no-padding ">
                                                        <div class="doctor-profile">
                                                                 
                                                            <div class="profile-usertitle">
                                                                <div class="doctor-name">{{ ward.bed.patient.full_name }} </div>
                                                            </div>
                                                                <p>{{ ward.bed.patient.address }}</p> 
                                                                <div><p><a href="tel:(123)456-7890">  {{ ward.bed.patient.phone_number }}</a></p> </div>
                                                            <div class="profile-userbuttons">
                                                            <a href="{% url 'nurse_chart_view' ward.bed.patient.id %}">
                                                                <span class="">Patient Chart</span> 
                                                            </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}


                                        </div>
                                    </div>

                            </div>
                        </div>

</div>
</div>

</div>

{% endblock %}

{% block scripts %}
    <!-- data tables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>
{% endblock %}
