{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %} Prescriptions {% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Prescription Lists</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body ">
                    <table id="example1" class="display table-bordered table-striped table-hover" style="width:100%;">
                        <thead>
                            <tr class="gradeX odd">
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Adress</th>                                
                                <th>Phone Number</th>
                                <th>Ward</th>
                                <th>Bed Number</th>
                                <th>Reallocate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient, bed in patient_zip %}
                                <tr>
                                    <td>{{patient.first_name}} {{patient.last_name}}</td>
                                    <td> {{ patient.sex }}</td>
                                    <td> {{ patient.age }} </td>
                                    <td> {{ patient.address }} </td>
                                    <td> {{ patient.phone_number }} </td>
                                    <td>{{bed.ward}}</td>
                                    <td>{{bed.bed_number}}</td>
                                  
                                    <td><button class="btn btn-info"><a href="{% url 'allocate_patient' patient.id %}" style="color: white;">Reallocate</a></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>
{% endblock %}