
           <div class="tab-pane" id="systems-tab">

                <div class="col-md-12">
                    <div class="row" style="padding-bottom: 15px; padding-top: 30px;" >
                        <label for="labsection" class="col-md-2 control-label"><small>Title</small></label>
                        <div class="col-md-5">
                            {{consultation_form.title}}
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 15px;">
                        <label for="labsection" class="col-md-2 control-label"><small>Tags</small></label>
                        <div class="col-md-7">
                            {{consultation_form.tags}}
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 15px;">
                        <label for="labsection" class="col-md-2 control-label"><small>Condition</small></label>
                        <div class="col-md-7">
                            {{consultation_form.condition}}
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 15px;">
                        <label for="labsection" class="col-md-2 control-label"><small>Condition</small></label>
                        <div class="col-md-7">
                            {{consultation_form.compliant}}
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 15px;">
                        <label for="labsection" class="col-md-2 control-label"><small>Clinical Findings</small></label>
                        <div class="col-md-7">
                            {{consultation_form.clinical_finding}}
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 15px;">
                        <label for="labsection" class="col-md-2 control-label"><small>Paraclinical Findings</small></label>
                        <div class="col-md-7">
                            {{consultation_form.paraclinical_finding}}
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 15px;">
                        <label for="labsection" class="col-md-2 control-label"><small>Diagnoses</small></label>
                        <div class="col-md-7">
                            {{consultation_form.diagnoses}}
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 15px;">
                        <label for="labsection" class="col-md-2 control-label"><small>Materials</small></label>
                        <div class="col-md-7">
                            {{consultation_form.material}}
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 15px;">
                        <label for="labsection" class="col-md-2 control-label"><small>Surgery</small></label>
                        <div class="col-md-7">
                            {{consultation_form.surgery}}
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 15px;">
                        <label for="labsection" class="col-md-2 control-label"><small>Recommendation</small></label>
                        <div class="col-md-7">
                            {{consultation_form.recommendation}}
                        </div>
                    </div>
                </div>            
            </div>
