           <div class="tab-pane" id="systems-tab">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="padding-bottom: 15px; padding-top: 30px;" >
                            <label for="labsection" class="col-md-3 control-label"><small><b> General</b></small></label>
                        </div>

                        <div class="row" style="padding-bottom: 15px; " >
                            <label for="labsection" class="col-md-3 control-label"><small>Fatigue</small></label>
                            <div class="col-md-7">
                                {{systems_form.fatigue}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Fevers</small></label>
                            <div class="col-md-7">
                                {{systems_form.fevers}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Headache</small></label>
                            <div class="col-md-7">
                                {{systems_form.headache}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Weight Loss</small></label>
                            <div class="col-md-7">
                                {{systems_form.weight_loss}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row" style="padding-bottom: 15px; padding-top: 30px;" >
                            <label for="labsection" class="col-md-5 control-label"><small><b> Cardiovascular</b></small></label>
                        </div>

                        <div class="row" style="padding-bottom: 15px; " >
                            <label for="labsection" class="col-md-4 control-label"><small>Chest Pain</small></label>
                            <div class="col-md-7">
                                {{systems_form.chest_pain}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-4 control-label"><small>Difficulty Breathing</small></label>
                            <div class="col-md-7">
                                {{systems_form.difficulty_breathing}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-4 control-label"><small>Palpitations</small></label>
                            <div class="col-md-7">
                                {{systems_form.palpitations}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-4 control-label"><small>Swelling</small></label>
                            <div class="col-md-7">
                                {{systems_form.swelling}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="padding-bottom: 15px; padding-top: 30px;" >
                            <label for="labsection" class="col-md-3 control-label"><small><b> Eyes </b></small></label>
                        </div>

                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Blurred Vision</small></label>
                            <div class="col-md-7">
                                {{systems_form.blurred_vision}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Eye Pain</small></label>
                            <div class="col-md-7">
                                {{systems_form.eye_pain}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Eye Sensitivity</small></label>
                            <div class="col-md-7">
                                {{systems_form.eye_sensetivity}}
                            </div>
                        </div>

                    </div>
                    
                    <div class="col-md-6">
                        <div class="row" style="padding-bottom: 15px; padding-top: 30px;" >
                            <label for="labsection" class="col-md-3 control-label"><small><b> Respiratory </b></small></label>
                        </div>

                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Wheezing</small></label>
                            <div class="col-md-7">
                                {{systems_form.wheezing}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Shortness Of Breath</small></label>
                            <div class="col-md-7">
                                {{systems_form.shortness_of_breath}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Cough</small></label>
                            <div class="col-md-7">
                                {{systems_form.cough}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Sleep Apnea</small></label>
                            <div class="col-md-7">
                                {{systems_form.sleep_apnea}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="padding-bottom: 15px; padding-top: 30px;" >
                            <label for="labsection" class="col-md-3 control-label"><small><b> Nerurological </b></small></label>
                        </div>

                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Tremors</small></label>
                            <div class="col-md-7">
                                {{systems_form.tremors}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Dizzy Spers</small></label>
                            <div class="col-md-7">
                                {{systems_form.dizzy_spers}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Numbness</small></label>
                            <div class="col-md-7">
                                {{systems_form.numbness}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row" style="padding-bottom: 15px; padding-top: 30px;" >
                            <label for="labsection" class="col-md-3 control-label"><small><b> Musculoskeletal </b></small></label>
                        </div>

                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Joint Pain</small></label>
                            <div class="col-md-7">
                                {{systems_form.joint_plan}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Neck Pain</small></label>
                            <div class="col-md-7">
                                {{systems_form.neck_pain}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Back Pain</small></label>
                            <div class="col-md-7">
                                {{systems_form.back_pain}}
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="padding-bottom: 15px; padding-top: 30px;" >
                            <label for="labsection" class="col-md-3 control-label"><small><b> Endocrine </b></small></label>
                        </div>

                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Excessive Thirst</small></label>
                            <div class="col-md-7">
                                {{systems_form.excessive_thirst}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Too Hot/Cold</small></label>
                            <div class="col-md-7">
                                {{systems_form.too_hot_or_cold}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Tired</small></label>
                            <div class="col-md-7">
                                {{systems_form.tired}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row" style="padding-bottom: 15px; padding-top: 30px;" >
                            <label for="labsection" class="col-md-3 control-label"><small><b> Gastrointestinal </b></small></label>
                        </div>

                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Abdominal Pain</small></label>
                            <div class="col-md-7">
                                {{systems_form.abdominal_pain}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Nausea</small></label>
                            <div class="col-md-7">
                                {{systems_form.nausea}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Indigestion</small></label>
                            <div class="col-md-7">
                                {{systems_form.indigestion}}
                            </div>
                        </div>
                    </div>
                    
                </div>

      </div>
