{% load crispy_forms_tags %}
           <div class="tab-pane" id="document-tab">

                        <div class=" card col-md-12 " >

                        <div class="card-head " >
                                   <!-- <button  class="btn btn-circle" data-toggle="modal" data-target="#createBuildingModal">
                                    </button> -->
                                <div class="row">
                                    <a data-toggle="modal" data-target="#treatmentPlanForm">
                                    <div class="row" style="padding-left:30px;">
                                        <div>
                                        <i class="fa fa-plus fa-1x"></i> 
                                         </div>
                                        <div style="padding-left:7px;padding-right: 8px;">
                                            <label><small> Add Document </small></label>
                                        </div>
                                    </div>
                                    </a>

                                </div>

                        </div>
                                <div class="card-body"  style="background-color: white;height: 100px;">
                                    <div class="row" id=""  >
                                        <div>
                                           <label for="labsection" class="col-md-3 control-label"><small></small></label>
                                        </div>
                                        <div>
                                            <div class="col-md-9">
                                                <small><input  name="images" type="file" multiple class="form-control-file"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>                        
                        </div>
            </div>