           <div class="tab-pane" id="physical-exam-tab">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="padding-bottom: 15px; padding-top: 30px;" >
                            <label for="labsection" class="col-md-3 control-label"><small><b> Physical Exam</b></small></label>
                        </div>

                        <div class="row" style="padding-bottom: 15px; " >
                            <label for="labsection" class="col-md-3 control-label"><small>General</small></label>
                            <div class="col-md-7">
                                {{edit_physical_exam_form.general}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Head</small></label>
                            <div class="col-md-7">
                                {{edit_physical_exam_form.head}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Eyes</small></label>
                            <div class="col-md-7">
                                {{edit_physical_exam_form.eyes}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Nose</small></label>
                            <div class="col-md-7">
                                {{edit_physical_exam_form.nose}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Mouth and Throat</small></label>
                            <div class="col-md-7">
                                {{edit_physical_exam_form.mouth_and_throat}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Neck</small></label>
                            <div class="col-md-7">
                                {{edit_physical_exam_form.neck}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Breasts</small></label>
                            <div class="col-md-7">
                                {{edit_physical_exam_form.breasts}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Gastrointestinal</small></label>
                            <div class="col-md-7">
                                {{edit_physical_exam_form.gastrointestinal}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Genitourinary</small></label>
                            <div class="col-md-7">
                                {{edit_physical_exam_form.genitourinary}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Neurologic</small></label>
                            <div class="col-md-7">
                                {{edit_physical_exam_form.neurologic}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px;">
                            <label for="labsection" class="col-md-3 control-label"><small>Psyhiatric</small></label>
                            <div class="col-md-7">
                                {{edit_physical_exam_form.psyhiatric}}
                            </div>
                        </div>

                    </div>
                </div>

      </div>
