{% load crispy_forms_tags %}

	       <div class="tab-pane active" id="patint-tab">
	       		<div class="row">
					<div class="col-md-6">
                                    <div class="col-md-6">
	                                     <small>{{medical_form.high_blood_pressure|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.high_cholesterol|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.vein_trouble|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.kidney_disease|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.thyroid_problems|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.drug_abuse|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.replacement|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.DVT|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.pulmonary_embolus|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.tuberculosis|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.nervous_disorder|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.sinus|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.tonsillitis|as_crispy_field}}</small>               
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.bleeding_tendencies|as_crispy_field}}</small>               
                                    </div>

					</div>	       			
					<div class="col-md-6">
                                    <div class="col-md-6">
	                                     <small>{{medical_form.lung_disease|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.asthma|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.heart_trouble|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.seasonal_allergies|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.arthiritis|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.gastrointestinal|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.cancer|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.stroke|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.diabetes|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.pneumonia|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.hepatitis|as_crispy_field}}</small>                                           
                                    </div>
                                    <div class="col-md-6">
	                                     <small>{{medical_form.osteporosis|as_crispy_field}}</small>                                           
                                    </div>

					</div>	       			
	       		</div>
	       		<div class="row">
					<div class="col-md-12">
                                    <div class="col-md-6">
	                                     <small>{{medical_form.other|as_crispy_field}}</small>                                           
                                    </div>
						
					</div>
				</div>
				<div style="padding-bottom: 50px;">
					
				</div>

	       </div>
