{% load crispy_forms_tags %}

           <div class="tab-pane" id="vitals-tab">

                <div class="col-md-12">
                    <div class="form-row">
                       <div class="form-group col-md-2 " >
                            <div style="padding-top: 30px;">
                            <p><small>Heart Beat</small></p>
                            </div>
                      </div>

                        <div class="form-group col-md-4"> 
                            <small> 
                            {{edit_vital_sign_form.pulse_rate|as_crispy_field}}
                            </small>
                        </div>
                    </div>
                    <div class="form-row">   
                       <div class="form-group col-md-2 " >
                        <div style="padding-top: 30px;">

                        <p><small>Temperature</small></p>
                        </div>
                      </div>

                       <div class="form-group col-md-2">  
                            <small>{{edit_vital_sign_form.temperature|as_crispy_field}}</small>
                        </div>
                        <div class="form-group col-md-2">  
                            <small>{{edit_vital_sign_form.temperature_unit|as_crispy_field}}</small>
                        </div>
                    </div>
                        
                      <div class="form-row">
                           <div class="form-group col-md-2 " >
                            <div style="padding-top: 30px;">
                            <p><small>Blood Pressure</small></p>
                            </div>
                          </div>

                          <div class="form-group col-md-2">  
                            <small>{{edit_vital_sign_form.diastolic_blood_pressure|as_crispy_field}}</small>
                          </div>

                          <div class="form-group col-md-2">  
                            <small>{{edit_vital_sign_form.systolic_blood_pressure|as_crispy_field}}</small>
                          </div>
                       
                      </div>

                      <div class="form-row">
                           <div class="form-group col-md-2 " >
                            <div style="padding-top: 30px;">
                            <p>Oxygen Saturation</p>
                            </div>
                      </div>

                          <div class="form-group col-md-4">  
                            <small>{{edit_vital_sign_form.oxygen_saturation|as_crispy_field}}</small>
                          </div>

                       
                      </div>


                      <div class="form-row">
                           <div class="form-group col-md-2 " >
                                <div style="padding-top: 30px;">
                                <p>Blood Glucose Level</p>
                                </div>
                          </div>

                          <div class="form-group col-md-2">  
                            <small>{{edit_vital_sign_form.blood_glucose_level|as_crispy_field}}</small>
                          </div>

                          <div class="form-group col-md-2">  
                            <small>{{edit_vital_sign_form.glucose_level_unit|as_crispy_field}}</small>
                          </div>
                       
                      </div>
                </div>            
            </div>
