{% load crispy_forms_tags %}
   <div class="tab-pane" id="surgery-history-tab">
	       		<div class="row">
					<div class="col-md-12">
                                    <div class="col-md-6">
	                                     <small>{{surgery_form.surgery_history|as_crispy_field}}</small>                                           
                                    </div>

                    </div>

                </div>
                <div style="padding-bottom: 50px;">
                	
                </div>

   </div>
