
            <div class="tab-pane active" id="home-charts-tab">
                    <div class="col-md-12">
                                <div class="row col-md-12" >
                                       <ul class="nav nav-tabs">
                                          <li class="nav-item"><a class="nav-link"
                                            href="#home-dashboard-tab" data-toggle="tab"><small>Dashboard</small></a></li>
                                          <li class="nav-item"><a class="nav-link " href="#home-stats-tab"
                                            data-toggle="tab"><small>Lists</small></a></li>
                                          <li class="nav-item"><a class="nav-link active show" href="#home-charts-tab"
                                            data-toggle="tab"><small>Demo Values</small></a></li>
                                        </ul>
                               </div>
                  </div>

                    <div class="row" style="padding-left: 15px;">

                        <div class="" id="dispensary-supplied-drug-table-id" >
                            <div class="card"  >
                                    <div class="card-head">
                                        <header><small>Today Events</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 270px;width: 560px;">

                                    </div>
                            </div>
                        </div>
                        <div style="width: 15px;"></div>
                        <div class="" id="dispensary-supplied-drug-table-id" >
                            <div class="card" >
                                    <div class="card-head">
                                        <header><small>Messages - Inbox</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 270px;width: 560px;">
                                             <p><small></small></p>
                                             <p><small></small></p>
                                             <p><small></small></p>
                                             <p><small></small></p>
                                             <p><small></small></p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 15px;">
                        <div class="" id="dispensary-supplied-drug-table-id">
                            <div class="card" >
                                    <div class="card-head">
                                        <header><small>My Tasks </small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 270px;width: 560px;">
                                        <div class="add-allergy">
                                           <small> <span><a href="" data-toggle="modal" data-target="#scheduleStuffModal{{patient.id}}">Schedule Appointment</a></span> </small>
                                        </div>

                                    </div>
                            </div>
                        </div>
                        <div style="width: 15px;"></div>
                        <div  id="dispensary-supplied-drug-table-id">
                            <div class="card" >
                                    <div class="card-head">
                                        <header><small>Recent Patients</small></header>
                                    </div>
                            </div>
                        </div>
                    </div>

          </div>

