
            <div class="tab-pane active" id="home-stats-tab">
                    <div class="col-md-12">
                                <div class="row col-md-12" >
                                       <ul class="nav nav-tabs">
                                          <li class="nav-item"><a class="nav-link"
                                            href="#home-dashboard-tab" data-toggle="tab"><small>Dashboard</small></a></li>
                                          <li class="nav-item"><a class="nav-link active show" href="#home-stats-tab"
                                            data-toggle="tab"><small>Lists</small></a></li>
                                         <!-- <li class="nav-item"><a class="nav-link" href="#home-charts-tab"
                                            data-toggle="tab"><small>Demo Values</small></a></li>-->
                                        </ul>
                               </div>
                  </div>

                    <div class="row" style="padding-left: 15px;">

                        <div class="" id="dispensary-supplied-drug-table-id" >

                            <div class="card"  >
                                    <div class="card-head">
                                        <header><small>Encounters</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 540px;width: 560px;">
                                             <div class="row">
                                                 <div class="col">
                                                     <div class="" style="padding-left: 30px;"><h5><b>{{total_encounters}}</b></h5></div>
                                                     <div ><h5><b style="padding-left: 30px;">Total Encounters</b></h5></div>


                                                 </div>
                                                 <small>
                                                    <select hx-get="{% url 'core:home' %}?id=PatientAlphabet" hx-trigger='click'  hx-swap='innerHTML' hx-target='#drug_price_tab' hx-include="[name='last_x_days']"   name="last_x_days" id="">
                                                        <option value="6" id="">Last 6 Months</option>  
                                                        <option value=3>Last 3 Months</option>   
                                                        <option value=12>Last 12 Months</option>   
                                                        
                                                    </select>
                                                </small>

                                             </div><hr>
                                            {% include "core/htmx_partials/encounters_table_htmx.html" %}


                                    </div>
                            </div>
                        </div>
                    <div class="col" style="padding-left: 15px;">
                        <div  id="dispensary-supplied-drug-table-id">
                            <div class="card" >
                                    <div class="card-head">
                                        <header><small>Diagnosis</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 270px;width: 560px;">
                                        <table id=""  class=" ml-table-bordered" style=" border: 10px; border-color: black;width: 580px;">
                                            
                                            <thead style="background-color: lightgrey;">
                                                <tr class="gradeX odd">
                                                    <th class= "text-center"><small>Diagnosis</small></th>
                                                    <th class= "text-center"><small>Count</small></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr style="height: 40px;">
                                                        <td class= "text-center" style="width:300px"><small> Diagnosis 1</small></td>
                                                        <td class= "text-center" style="width:300px"><small> 2 </small></td>
                                                    </tr>
                                                    <tr style="height: 40px;">
                                                        <td class= "text-center" style="width:300px"><small> Diafsassd</small></td>
                                                        <td class= "text-center" style="width:300px"><small> 2 </small></td>
                                                    </tr>

                                            </tbody>
                                            
                                        </table>

                                    </div>
                            </div>
                        </div>
                        <div style="width: 15px;"></div>

                        <div class="card"  >
                                <div class="card-head">
                                    <header><small>Sales Overview</small></header>
                                </div>

                                <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 270px;width: 580px;">
                                         <div class="row">
                                             <div class="col-md-3">
                                                 <div class=""><h5><b>{{credit}}</b></h5></div>
                                                 <div ><h5><b style="">Credit</b></h5></div>
                                             </div>
                                             <div class="col-md-3">
                                                 <div><h5><b class="">{{debit}}</b></h5></div>
                                                 <div><h5><b style="">Debit</b></h5></div>
                                             </div>
                                             <div class="col-md-3">
                                                 <div><h5><b class="">{{balance}}</b></h5></div>
                                                 <div><h5><b style="">Balance</b></h5></div>
                                             </div>

                                                 <small>
                                                    <select hx-get="{% url 'core:home' %}?id=PatientAlphabet" hx-trigger='click'  hx-swap='innerHTML' hx-target='#drug_price_tab' hx-include="[name='last_x_days']"   name="l_x_days" id="">
                                                        <option value="6" id="">Last 6 Months</option>  
                                                        <option value=3>Last 3 Months</option>   
                                                        <option value=12>Last 12 Months</option>   
                                                        
                                                    </select>
                                                </small>

                                         </div><hr>

                                    <table id=""  class=" ml-table-bordered" style=" border: 10px; border-color: black;width: 580px;">
                                        
                                        <thead style="background-color: lightgrey;">
                                            <tr class="gradeX odd">
                                                <th class= "text-center"><small>Month</small></th>
                                                <th class= "text-center"><small>Debit</small></th>
                                                <th class= "text-center"><small>Credit</small></th>
                                                <th class= "text-center"><small>Balance</small></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for month,debit,credit,balance in balance_zip %}
                                                <tr style="height: 40px;">
                                                    <td class= "text-center" style="width:300px"><small> {{ month }}</small></td>
                                                    <td class= "text-center" style="width:300px"><small> {{ debit }} </small></td>
                                                    <td class= "text-center" style="width:300px"><small> {{ credit }} </small></td>
                                                    <td class= "text-center" style="width:300px"><small> {{balance }} </small></td>

                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        
                                    </table>

                                </div>
                        </div>


                    </div>
                    </div>


          </div>

