            <div class="tab-pane" id="image-list-tab">
                    <div class="row">

                        <div class="col-md-6" id="dispensary-supplied-drug-table-id" >
                            <div class="card" style="height: 400px;width: 500px;">
                                    <div class="card-head">
                                        <header>
                                            <small>
                                                <small><i onclick="addImageForm2({{treatment.id}})" class="fa fa-plus"></i>Add Image</small>
                                            </small>
                                        </header>
                                    </div>
                                    <div class="card-body">
                                        <table id=""  class=" ml-table-bordered" style=" border: 10px; border-color: black;">
                                            <thead style="background-color: lightgrey;">
                                                <tr class="">
                                                    <th class="text-center"><small> File</small></th>
                     
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for image in image_list %}
                                                    <tr class="" style="height:40px;">
                                                        <td style="width:300px" class="text-center">
                                                            <small>
                                                                    <div>
                                                                        <a href="{{ image.image.url }}" target="_blank">
                                                                            {{image.image}}
                                                                        </a>
                                                                    </div>
                                                            </small>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                            </div>
                        </div>
                    </div>
            
        </div>