{% load custom_dict %}
                                                {% include "core/modals/add_medical_certificate_form.html" %}

            <div class="tab-pane" id="medical-certificate-list-tab">
                    <div class="row">

                        <div class="col-md-12" id="" >
                            <div class="card card-head" style="width: 1009px;">
                                       

                                               <!-- <button  class="btn btn-circle" data-toggle="modal" data-target="#createBuildingModal">
                                                </button> -->
                                            <div class="row">
                                                {% if user.employee.designation.permission.medical.write_medical_certificate %}
                                                        <small style="padding-left: 50px;"> <span><a href="" data-toggle="modal" data-target="#addMedicalCertificateModal{{patient.id}}">Add Certificate</a></span> </small> 
                                                {% endif %}
                                                       <small style="padding-left: 20px;"> <span><a href data-toggle='modal' data-target='#filterByDateModal'><i class="fa fa-filter"></i></a></span> </small>
                                                       <small style="padding-left: 20px;" onclick="searchMedicalCertificate()"> <i class="fa fa-search"></i><label style="padding-left: 10px;">Search</label></small>
                                                        <small style="padding-left: 550px;">                           
                                                            <i class="fa fa-print"></i>
                                                            <label>Print/Export</label>
                                                        </small>
                                            </div>
                            </div>
                        <div class="card card-box col-md-8" id="search-medical-certificate-id" style="display:none;">
                           <div class="row" style="padding-bottom: 10px;">
                               <div style="padding-right:10px;">
                                    <label><small>Look For</small></label>
                               </div>
                               <form method="GET" id="search-document-form-id">
                                   <div>
                                        <input type="text" list="patient_data_list" name="search-medical-certificate" id="search-medical-certificate" class="col-md-6"> 
                                        <small><button type="submit" >Find Now</button></small> 

                                   </div>
                               </form>
                               <div class="pull-right">
                                    <a onclick="closeSearchMedicalCertificateDiv()"> <i class="fa fa-times"></i></a> 
                               </div>

                            </div>
                        </div>

                            <div class="card card-box" style="overflow-y:scroll;overflow-x:scroll;background-color: white; width: 1009px;height: 400px;">
                                    {% if user.employee.designation.permission.medical.view_medical_certificate %}
                                        <table id=""  class=" ml-table-bordered" style=" border: 10px; border-color: black;width: 1009px;">
                                            <thead style="background-color: lightgrey;">
                                                <tr class="">
                                                    <th class="text-center"><small> Reason</small></th>
                                                    <th class="text-center"><small> Certificate Type</small></th>
                                                    <th class="text-center"><small> Registered on</small></th>
                                                    <th class="text-center"><small> Delete</small></th>
                     
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for certificate in certificate_list %}
                                                {% return_edit_certificate_form  certificate.id %}
                                                {% include "core/modals/edit_medical_certificate_form.html" %}

                                                {% is_in_date_array certificate.registered_on certificate_date_array %}
                                                    {% if is_in_array %}                                    
                                                    {% else %}
                                                    <tr class="" style="height:40px;">
                                                        <td>
                                                        <b>{{certificate.registered_on.date}}</b>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                    <tr class="" style="height:40px;">

                                                        <td style="width:300px" class="text-center">
                                                        <small>
                                                        <a href="" data-toggle="modal" data-target="#editMedicalCertificateModal{{patient.id}}">{{certificate.reason}}</a>

                                                            
                                                                
                                                            </small>
                                                        </td>
                                                        <td style="width:300px" class="text-center">
                                                            <small>
                                                                {{certificate.certificate_type}}
                                                            </small>
                                                        </td>

                                                        <td style="width:300px" class="text-center">
                                                            <small>
                                                                {{certificate.registered_on}} 
                                                            </small>
                                                        </td>
                                                        <td style="width:300px" class="text-center">
                                                            <small>
                                                                <a href="" data-toggle="modal" data-target="#deleteMedicalCertificateModal{{certificate.id}}">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            </small>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </div>

                        </div>
                    </div>
            
        </div>
<script type="text/javascript">
    
        function searchMedicalCertificate() {
               document.getElementById('search-medical-certificate-id').style.display = 'block';          
                showingModal = true;
            }

        function closeSearchMedicalCertificateDiv() {
               document.getElementById('search-medical-certificate-id').style.display = 'none';          
               
                showingModal = true;
            }

</script>
