        <div class="tab-pane {% if treatment_tab  %}  {% else %} active {% endif %}" id="medical-activities-tab">
            <div class="col-md-12">
             <!-- <div class="col-md-2"></div>-->
                <div class="card card-box">
                        <div class="card-head " >
                                   <!-- <button  class="btn btn-circle" data-toggle="modal" data-target="#createBuildingModal">
                                    </button> -->
                                <div class="row">
                                    <a href="{% url 'core:add_patient_consultation' patient.id %}">
                                    <div class="row" style="padding-left:30px;">
                                        <div>
                                        <i class="fa fa-plus fa-1x"></i> 
                                         </div>
                                        <div style="padding-left:7px;padding-right: 8px;">
                                            <label><small> Add Consultation </small></label>
                                        </div>
                                    </div>
                                    </a>

                                </div>

                        </div>

                    <div class="card-body">
                     {% for object in objects %}
                            <div class="col-md-12">
                                {{date}}
                            </div>
                        {% if object.registered_on.date == date %}                            
                        {% if object.title %}
                            <div onload="dateArray({{object.registered_on.date}})"></div>
                            <div class="row">
                                <div style="padding-left: 0px;" class="col-md-2">
                                    <small><b>Consultation:</b></small></br>                                
                                </div>
                                <div style="" class="col-md-2">
                                    <small> {{object.title}}</small></br>                                
                                </div>
                                <div style="" class="col-md-3">
                                    <small> {{object.registered_on}}</small></br>                                
                                </div>

                            </div>
                            {% for ob in object.clinical_finding.all %}
                                <div class="row">
                                    <div style="padding-left: 0px;" class="col-md-2">
                                        <small><b>Clinical Finding:</b></small></br>                                
                                    </div>
                                    <div class="col-md-2">
                                        <small> {{ob}}</small></br>                                
                                    </div>
                                    <div  class="col-md-3">
                                        <small> {{object.registered_on}}</small></br>                                
                                    </div>

                                </div>
                            {% endfor %}
                            {% for ob in object.diagnoses.all %}
                                <div class="row">
                                    <div style="padding-left: 0px;" class="col-md-2">
                                        <small><b>Diagnosis:</b></small></br>                                
                                    </div>
                                    <div style="padding-left: 0px;" class="col-md-2">
                                        <small> {{ob}}</small></br>                                
                                    </div>
                                    <div style="padding-left: 0px;" class="col-md-3">
                                        <small> {{object.registered_on}}</small></br>                                
                                    </div>

                                </div>
                            {% endfor %}
                            {%  endif %}
                        {% elif object.clinical_finding %}
                            <div class="row">
                            <div class="col-md-2">
                                <small><b>Clinical Finding:</b></small> 
                            </div>
                            <div style="padding-left: 0px;" class="col-md-2">
                                <small>{{object.clinical_finding}}</small>
                            </div>
                            <div style="padding-left: 0px;" class="col-md-3">
                                <small>{{object.registered_on}}</small>
                            </div>

                            </div>
                                                      

                        {% elif object.cholestrol %}
                            <div class="row">
                                <div style="padding-left: 15px;" class="col-md-2">
                                    <small><b>Cholestrol:</b></small></br>                                
                                </div>
                                <div style="padding-left: 0px;" class="col-md-2">
                                    <small> {{object.cholestrol}}</small></br>                                
                                </div>
                                <div style="padding-left: 0px;" class="col-md-3">
                                    <small> {{object.registered_on}}</small>                                
                                </div>

                            </div>

                        {% endif %}

                     {% endfor %}
                    </div>

                </div>
          </div>
        </div>