        <div class="tab-pane {% if treatment_tab  %}  {% else %}{% endif %}" id="medical-activities-tab">
            <div class="col-md-12">
             <!-- <div class="col-md-2"></div>-->
                <div class="card ">
                            <div class="card-head" style="width: 923px;">

                                <div class="row">
                                            <small style="padding-left: 50px;"> <span><a href="{% url 'core:add_patient_consultation' patient.id %}">Add Consultation</a></span> </small> 
                                           |<small style=""> <span><a href data-toggle='modal' data-target='#filterByDateModal'><i class="fa fa-filter"></i></a></span> </small>| 
                                           <small style="padding-left: 20px;" onclick="searchTimeline()"> <i class="fa fa-search"></i><label style="padding-left: 10px;">Search</label></small>
                                            <small style="padding-left: 550px;">                           
                                                <i class="fa fa-print"></i>
                                                <label>Print/Export</label>
                                            </small>

                                </div>
                            </div>
                </div>

            <div class="card card-box" style="overflow-y:scroll;overflow-x:scroll; width: 923px;height: 400px;">
                <div class="col">
                     {% for object in objects %}
                            <div class="col-md-12">
                                {{date}}
                            </div>
                        {% if object.registered_on.date == date %}                            
                        {% if object.title %}
                            <div onload="dateArray({{object.registered_on.date}})"></div>
                            <div class="row">
                                <div style="padding-left: 0px;" class="col-md-2">
                                    <small><b>Consultation:</b></small><br>                                
                                </div>
                                <div style="" class="col-md-2">
                                    <small> {{object.title}}</small><br>                                
                                </div>
                                <div style="" class="col-md-3">
                                    <small> {{object.registered_on}}</small><br>                                
                                </div>

                            </div>
                            {% for ob in object.clinical_finding.all %}
                                <div class="row">
                                    <div style="padding-left: 0px;" class="col-md-2">
                                        <small><b>Clinical Finding:</b></small><br>                                
                                    </div>
                                    <div class="col-md-2">
                                        <small> {{ob}}</small><br>                                
                                    </div>
                                    <div  class="col-md-3">
                                        <small> {{object.registered_on}}</small><br>                                
                                    </div>

                                </div>
                            {% endfor %}
                            {% for ob in object.diagnoses.all %}
                                <div class="row">
                                    <div style="padding-left: 0px;" class="col-md-2">
                                        <small><b>Diagnosis:</b></small><br>                                
                                    </div>
                                    <div style="padding-left: 0px;" class="col-md-2">
                                        <small> {{ob}}</small><br>                                
                                    </div>
                                    <div style="padding-left: 0px;" class="col-md-3">
                                        <small> {{object.registered_on}}</small><br>                                
                                    </div>

                                </div>
                            {% endfor %}
                            {%  endif %}
                        {% elif object.clinical_finding %}
                            <div class="row">
                            <div class="col-md-2">
                                <small><b>Clinical Finding:</b></small> 
                            </div>
                            <div style="padding-left: 0px;" class="col-md-2">
                                <small>{{object.clinical_finding}}</small>
                            </div>
                            <div style="padding-left: 0px;" class="col-md-3">
                                <small>{{object.registered_on}}</small>
                            </div>

                            </div>
                                                      

                        {% elif object.cholestrol %}
                            <div class="row">
                                <div style="padding-left: 15px;" class="col-md-2">
                                    <small><b>Cholestrol:</b></small><br>                                
                                </div>
                                <div style="padding-left: 0px;" class="col-md-2">
                                    <small> {{object.cholestrol}}</small><br>                                
                                </div>
                                <div style="padding-left: 0px;" class="col-md-3">
                                    <small> {{object.registered_on}}</small>                                
                                </div>

                            </div>

                        {% endif %}

                     {% endfor %}
                    </div>
                </div>
          </div>
        </div>