    <style>
        .right-position {
            position: absolute;
            right: 3px;
        }
    </style>

            <div class="tab-pane active" id="patient-lists-tab">
                    <div class="col-md-12">
                                <div class="row col-md-12" >
                                       <ul class="nav nav-tabs">
                                          <li class="nav-item"><a class="nav-link "
                                            href="#patient-dashboard-tab" data-toggle="tab"><small>Summary</small></a></li>
                                          <li class="nav-item"><a class="nav-link active" href="#patient-lists-tab"
                                            data-toggle="tab"><small>Lists</small></a></li>
                                          <li class="nav-item"><a class="nav-link" href="#patient-demo-values-tab8"
                                            data-toggle="tab"><small>Demo Values</small></a></li>

                                        </ul>

                               </div>
                  </div>

                    <div class="row">

                        <div style="width: 15px;"></div>
                        
                        <div  id="dispensary-supplied-drug-table-id" >
                            <div class="card"  >
                                    <div class="card-head">
                                        <header><small>Consultations</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 130px;width: 316px;">
                                    {% if user.employee.designation.permission.medical.view_consultation %}
                                        {% for finding in consultation_list %}
                                            {% if finding.active == True %}
                                                <div class="row">
                                                    <div>
                                                         <small><b><a href="" data-toggle="modal" data-target="">{{finding}}</a></b> </small><br>
                                                    </div>
                                                    <div class="right-position">
                                                    <small>{{finding.registered_on}}</small>
                                                    </div>
                                                </div>

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if user.employee.designation.permission.medical.write_consultation %}
                                        <div class="add-allergy">
                                           <small> <span><a href="{% url 'core:add_patient_consultation' patient.id %}" >Add Consultation</a></span> </small>
                                        </div>
                                    {% endif %}

                                    </div>
                            </div>
                        </div>
                        <div style="width: 15px;"></div>
                        <div  id="dispensary-supplied-drug-table-id" >
                            <div class="card" >
                                    <div class="card-head">
                                        <header><small>Clinical Findings</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 130px;width: 316px;">
                                    {% if user.employee.designation.permission.medical.view_clinical_finding %}
                                        {% for finding in clinical_finding_list %}
                                            {% if finding.active == True %}
                                                {% include "core/modals/edit_clinical_finding_form.html" %}
                                                <div class="row">
                                                    <div>
                                                         <small><b><a href="" data-toggle="modal" data-target="#editClinicalFindingModal{{finding.id}}">{{finding.clinical_finding}}</a></b> </small><br>
                                                    </div>
                                                    <div class="right-position">
                                                    <small>{{finding.registered_on}}</small>
                                                    </div>
                                                </div>

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if user.employee.designation.permission.medical.write_clinical_finding %}
                                        <div class="add-allergy">
                                                {% include "core/modals/add_clinical_finding_form.html" %}
                                           <small> <span><a href="" data-toggle="modal" data-target="#addClinicalFindingModal{{patient.id}}">Add Clinical Findings</a></span> </small>
                                        </div>
                                    {% endif %}

                                    </div>
                            </div>
                        </div>
                        <div style="width: 15px;"></div>
                        <div  id="dispensary-supplied-drug-table-id" >
                            <div class="card" >
                                    <div class="card-head">
                                        <header><small>Treatments</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 130px;width: 316px;">
                                    {% if user.employee.designation.permission.medical.view_treatment %}
                                        {% for treatment in treatment_list %}
                                            {% if treatment.active == True %}
                                                {% include "core/modals/edit_treatment_form.html" %}
                                                <div class="row">
                                                    <div>
                                                         <small><b><a href="" data-toggle="modal" data-target="#editTreatmentModal{{treatment.id}}">{{treatment.treatment}}</a></b> </small><br>
                                                    </div>
                                                    <div class="right-position">
                                                    <small>{{treatment.registered_on}}</small>
                                                    </div>
                                                </div>

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if user.employee.designation.permission.medical.write_treatment %}
                                        <div class="add-allergy">
                                                {% include "core/modals/add_treatment_form.html" %}
                                           <small> <span><a href="" data-toggle="modal" data-target="#addTreatmentModal{{patient.id}}">Add Treatment</a></span> </small>
                                        </div>
                                    {% endif %}
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="width: 15px;"></div>

                        <div  id="dispensary-supplied-drug-table-id">
                            <div class="card" >
                                    <div class="card-head">
                                        <header><small>Allergies</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 130px;width: 316px;">
                                    {% if user.employee.designation.permission.medical.view_allergy %}
                                        {% for allergy in allergy_list %}
                                            {% if allergy.active == True %}
                                                {% include "core/modals/edit_allergy_form.html" %}
                                                <div class="row">
                                                    <div>
                                                         <small><b><a href="" data-toggle="modal" data-target="#editAllergyModal{{allergy.id}}">{{allergy.allergy}}</a></b> </small><br>
                                                    </div>
                                                    <div class="right-position">
                                                   <small> {{allergy.registered_on}}</small>
                                                    </div>
                                                </div>

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if user.employee.designation.permission.medical.write_allergy %}
                                        <div class="add-allergy">
                                            {% include "core/modals/add_allergy_form.html" %}
                                           <small> <span><a href="" data-toggle="modal" data-target="#addAllergyModal{{patient.id}}">Add Allergy</a></span> </small>
                                        </div>
                                    {% endif %}
                                    </div>
                            </div>
                        </div>
                        <div style="width: 15px;"></div>

                        <div  id="dispensary-supplied-drug-table-id">
                            <div class="card" >
                                    <div class="card-head">
                                        <header><small>Paraclinical Findings</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 130px;width: 316px;">
                                    {% if user.employee.designation.permission.medical.view_paraclinical_finding %}
                                        {% for finding in para_list %}
                                            {% if finding.active == True %}
                                                {% include "core/modals/edit_paraclinical_finding_form.html" %}
                                                <div class="row">
                                                    <div>
                                                         <small><b><a href="" data-toggle="modal" data-target="#editParaclinicalFindingModal{{finding.id}}">{{finding.note}}</a></b> </small><br>
                                                    </div>
                                                    <div class="right-position">
                                                    <small>{{finding.registered_on}}</small>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if user.employee.designation.permission.medical.write_paraclinical_finding %}
                                        <div class="add-allergy">
                                                {% include "core/modals/add_paraclinical_finding_form.html" %}
                                           <small> <span><a href="" data-toggle="modal" data-target="#addParaclinicalModal{{patient.id}}">Add Paraclinical Finding</a></span> </small>
                                        </div>
                                    {% endif %}
                                    </div>
                            </div>
                        </div>
                        <div style="width: 15px;"></div>
                        
                        <div  id="dispensary-supplied-drug-table-id">
                            <div class="card" >
                                    <div class="card-head">
                                        <header><small>Medication </small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 130px;width: 316px;">

                                    {% if user.employee.designation.permission.medical.write_prescription %}
                                        <div class="add-allergy">
                                           <small> <span><a href="" data-toggle="modal" data-target="#repeatDrugPrescriptionModal6{{patient.id}}">Repeat</a></span> </small> |
                                           <small> <span><a href="" data-toggle="modal" data-target="#repeatDrugPrescriptionModal{{patient.id}}">Add </a></span> </small>
                                        </div>
                                    </div>
                                    {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div style="width: 15px;"></div>

                        <div  id="dispensary-supplied-drug-table-id">
                            <div class="card" >
                                    <div class="card-head">
                                        <header><small>Diagnosis and Condition</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 130px;width: 316px;">

                                    </div>
                            </div>
                        </div>
                        <div style="width: 15px;"></div>
                        
                        <div  id="dispensary-supplied-drug-table-id">
                            <div class="card" >
                                    <div class="card-head">
                                        <header><small>Documents</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 130px;width: 316px;">
                                    {% if user.employee.designation.permission.medical.view_document %}
                                        {% for image in image_list %}
                                                <div class="row">
                                                    <div>
                                                         <small><b><a href="{{ image.image.url }}" target="_blank">{{image.image}}</a></b> </small><br>
                                                     </div>
                                                 </div>
                                        {% endfor %}
                                        {% for file in file_list %}
                                                <div class="row">
                                                    <div>
                                                         <small><b><a href="{{ file.file.url }}" target="_blank">{{file.file}}</a></b> </small><br>
                                                     </div>
                                                 </div>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                            </div>
                        </div>
                        <div style="width: 15px;"></div>
                        <div  id="dispensary-supplied-drug-table-id">
                            <div class="card" style="height: 170px;width: 316px;">
                                    <div class="card-head">
                                        <header><small>Surgeries</small></header>
                                    </div>
                                    <div class="card-body">
                                    {% if user.employee.designation.permission.medical.view_surgery %}
                                        {% for surgery in surgery_list %}
                                            {% if surgery.active == True %}
                                                {% include "core/modals/edit_surgery_form.html" %}
                                                <div class="row">
                                                    <div>
                                                         <small><b><a href="" data-toggle="modal" data-target="#editSurgeryForm{{surgery.id}}">{{surgery.note}}</a></b> </small><br>
                                                     </div>
                                                     <div class="right-position">
                                                         <small>{{surgery.registered_on}} </small><br>                                                    
                                                     </div>
                                                 </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if user.employee.designation.permission.medical.write_surgery %}
                                        <div class="add-allergy">
                                                {% include "core/modals/add_surgery_form.html" %}
                                           <small> <span><a href="" data-toggle="modal" data-target="#addSurgeryModal{{patient.id}}">Add Surgery</a></span> </small>
                                        </div>
                                    {% endif %}
                                    </div>
                            </div>
                        </div>

                    </div>

            
          </div>



