                                                {% include "core/modals/add_patient_material_form.html" %}

            <div class="tab-pane" id="patient-material-list-tab">
                    <div class="row">

                        <div class="col-md-6" id="dispensary-supplied-drug-table-id" >
                            <div class="card" style="height: 270px;width: 500px;">
                                    <div class="card-head">
                                           <small> <span><a href="" data-toggle="modal" data-target="#addPatientMaterialModal{{patient.id}}">Add Material</a></span> </small>

                                    </div>
                                    <div class="card-body">
                                        <table id=""  class=" ml-table-bordered" style=" border: 10px; border-color: black;">
                                            <thead style="background-color: lightgrey;">
                                                <tr class="">
                                                    <th class="text-center"><small> Material</small></th>
                                                    <th class="text-center"><small> Quantity</small></th>
                                                    <th class="text-center"><small> Registered on</small></th>
                     
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for material in patient_material_list %}

                                                    <tr class="" style="height:40px;">
                                                        <td style="width:300px" class="text-center">
                                                            <small>
                                                               <a href="" data-toggle="modal" data-target="#editTreatmentModal{{treatment.id}}"> {{material.material}}</a>
                                                            </small>
                                                        </td>
                                                        <td style="width:300px" class="text-center">
                                                            <small>
                                                                {{material.quantity}} 
                                                            </small>
                                                        </td>
                                                        <td style="width:300px" class="text-center">
                                                            <small>
                                                                {{material.registered_on}} 
                                                            </small>
                                                        </td>

                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                            </div>
                        </div>
                    </div>
            
        </div>