                    <div class="col-md-12">
                                <div class="row col-md-12" >
                                       <ul class="nav nav-tabs">
                                          <li class="nav-item"><a class="nav-link active show"
                                            href="#patient-dashboard-tab" data-toggle="tab"><small>Summary</small></a></li>
                                          <li class="nav-item"><a class="nav-link" href="#patient-lists-tab"
                                            data-toggle="tab"><small>Lists</small></a></li>
                                          <li class="nav-item"><a class="nav-link" href="#patient-demo-values-tab8"
                                            data-toggle="tab"><small>Demo Values</small></a></li>

                                        </ul>

                               </div>
                  </div>

            <div class="tab-content col-md-12" >

                {% include "core/tabs/patient_dashboard_tab.html" %}

                {% include "core/tabs/patient_lists_tab.html" %}

                {% include "core/tabs/patient_demo_values_tab2.html" %}
             </div>