
            <div class="tab-pane {% if treatment_tab  %} active {% else %}  {% endif %}" id="treatment-plan-list-tab">                    
                            <div class="card card-head" style="width: 1009px;">
                                               <!-- <button  class="btn btn-circle" data-toggle="modal" data-target="#createBuildingModal">
                                                </button> -->
                                            <div class="row">
                                                {% if user.employee.designation.permission.medical.write_treatment_plan %}

                                                        <small style="padding-left: 50px;"><span><a href="" data-toggle="modal" data-target="#treatmentPlanForm">Add Entry</a></span></small> 
                                                {% endif %}
                                                       <small style="padding-left: 20px;"> <span><a href data-toggle='modal' data-target='#filterByDateModal'><i class="fa fa-filter"></i></a></span> </small>
                                                       <small style="padding-left: 20px;" onclick="searchMaterial()"> <i class="fa fa-search"></i><label style="padding-left: 10px;">Search</label></small>
                                                        <small style="padding-left: 550px;">                           
                                                            <i class="fa fa-print"></i>
                                                            <label>Print/Export</label>
                                                        </small>
                                            </div>
                            </div>
                            <!--
                        <div class="card card-head" style="width: 1009px;" >

                                <div class="row">
                                    <a href="" data-toggle="modal" data-target="#patientTreatmentPlanForm">
                                    <div class="row" style="padding-left:30px;">
                                        <div>
                                            <i class="fa fa-plus fa-1x"></i> 
                                         </div>
                                        <div style="padding-left:7px;padding-right: 8px;">
                                            <label><small> Add Entry </small></label>
                                        </div>
                                    </div>
                                    </a>

                                </div>
                               <div style="padding-left:30px;" onclick="searchPlan()">
                                    
                                        <i class="fa fa-search"></i>
                                        <label><small>Search</small></label>
                                     
                                </div>
                                   <div class=" col-md-1" style="padding-left:10px;">
                                        <a href="" data-toggle="modal" data-target="#filterTreatmentPlanModal">
                                            <i class="fa fa-filter"></i>
                                        </a> 
                                    </div>

                                   <div class="pull-right" style="padding-left:10px;">
                                        <a>
                                            <i class="fa fa-print"></i>
                                            <label><small>Print/Export</small></label>
                                        </a> 
                                    </div>

                                <div class="pull-right" style="padding-left:10px;" >
                                        <input type="checkbox" class="hidden" hx-get="{% url 'whole_ward_view' %}?id=PlanStatus" hx-trigger='click'  hx-swap='innerHTML' hx-target='#treatment-plan-tab' hx-include="[name='plan_status']"  value="Dismissed" name="plan_status" id="dismissed_cb">
                                        <label for="dismissed_cb"><small>Dismissed</small></label>                                    
                                </div>

                                <div class="pull-right" style="padding-left:10px;" >
                                        <input type="checkbox" class="hidden" hx-get="{% url 'whole_ward_view' %}?id=PlanStatus" hx-trigger='click'  hx-swap='innerHTML' hx-target='#treatment-plan-tab' hx-include="[name='plan_status']"  value="Completed" name="plan_status" id="completed_cb">
                                        <label for="completed_cb"><small>Completed</small></label>                                    
                                </div>

                        </div>-->
                        <div class="card card-box col-md-8" id="search-plan-id" style="display:none;">
                           <div class="row" style="padding-bottom: 10px;">
                               <div style="padding-right:10px;">
                                    <label><small>Look For</small></label>
                               </div>
                               <form method="GET" id="search-plan-form-id">
                                   <div>
                                        <input type="text" list="patient_data_list" name="search-plan" id="search-plan" class="col-md-6"> 
                                        <small><button type="button" onclick="submitPlanSearchForm()">Find Now</button></small> 

                                   </div>
                               </form>
                               <div class="pull-right">
                                    <a onclick="closeSearchDiv3()"> <i class="fa fa-times"></i></a> 
                               </div>

                            </div>
                        </div>

                            <div class="card card-box" style="overflow-y:scroll;overflow-x:scroll;background-color: white; width: 1009px;height: 400px;">
                            {% if user.employee.designation.permission.medical.view_treatment_plan %}
                            <table id=""  class=" ml-table-bordered" style=" border: 10px; border-color: black;">
                                <thead style="background-color: lightgrey;">
                                    <tr class="">
                                        <th class="text-center"><small> Registered on </small></th>
                                        <th class="text-center"><small> View </small></th>
                                        <th class="text-center"><small> Edit </small></th>
                                        <th class="text-center"><small> Delete </small></th>
                                        <th class="text-center"><small> Status </small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for plan in treatment_plan_list %}
                                {% include "inpatient_app/partials/view_treatment_plan_modal.html" %}
                                {% include "inpatient_app/partials/edit_treatment_plan_modal.html" %}
                                {% include "inpatient_app/partials/delete_dialog_box.html" %}
                                {% include "inpatient_app/partials/change_plan_status.html" %}

                                        <tr class="" style="height:40px;">
                                            <td style="width:200px;" class="text-center"><small> {{plan.registered_on}}</small> </td>
                                            <td style="width:100px;" class="text-center"><small> <a href="" data-toggle='modal' data-target= '#viewTreatmentPlanModal{{plan.id}}' ><i class="fa fa-eye"></i></a>  </small> </td>
                                            <td style="width:100px;" class="text-center"><small> <a href="" data-toggle="modal" data-target="#editTreatmentPlanModal{{plan.id}}"  ><i class="fa fa-edit"></i></a></small></td>
                                            <td style="width:100px;" class="text-center"><small>  <a href="" data-target="#deleteTreatmentPlanModal{{plan.id}}" data-toggle='modal'  ><i class="fa fa-trash"></i></a></small></td>
                                            <td style="width:200px;" class="text-center"><small>{{plan.status}}  <a href="" data-toggle='modal' data-target= '#changePlanStatusModal{{plan.id}}' > <i class="fa fa-edit"></i></a></small></td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% endif %}
                        </div>

                    </div>

{% block scripts %}
<script type="text/javascript">
    
        function searchPlan() {
               document.getElementById('search-plan-id').style.display = 'block';          
                showingModal = true;
            }

        function submitPlanSearchForm() {
               document.getElementById('search-plan-form-id').submit();
                showingModal = true;
            }

        function closeSearchDiv3() {
               document.getElementById('search-plan-id').style.display = 'none';          
               
                showingModal = true;
            }

</script>
{% endblock %}