        
        <form action="" id='form-id-id' method="POST" hx-post="{% url 'procurement_detail' procurement_pk  1 %}"hx-swap='outerHTML'>
        
        {% csrf_token %}
        <div class="col-md-11 form-row">
                    <div class="form-group col-md-2">
                        {{row}}
        </div>

          <div class="form-group col-md-4">
        {{request_form.drug}}
        </div>
          <div class="form-group col-md-1">
        </div>

          <div class="form-group col-md-4">
        {{request_form.quantity}}
        </div>
        <div class="form-group col-md-1">

          </div>
        </div>
      
            </form>
      <button onclick="toggleServiceForm()" id='button-{{row}}' class="btn pull-right" hx-post="{% url 'procurement_detail' procurement_pk  row|add:1 %}" hx-trigger='click' hx-target='#drug-request-create' hx-include="#form-id-id" hx-swap='beforeend'>Add</button>
      
<script type="text/javascript">
        function toggleServiceForm (){
          document.getElementById('button-{{row}}').style.display = 'none';          
        }
</script>

<!--
<form action='.' method="POST" hx-post='{% if url %}{{ url }}{% else %}.{% endif%}' hx-swap='outerHTML'>
    {% csrf_token %}
   {{ form.as_p }}
    <div class='htmx-indicator'>Loading...</div>
    <button class='htmx-inverted-indicator' style='margin-top:10px;' type='submit' >Save</button>
</form>
-->