                               <div class="col-md-6 " id="drug-request-create">
                                <div class="card" style="overflow-y:scroll;overflow-x:scroll; height: 315px;width: 515px;">
                                            <div class="card-head">
                                                <header>Total Employees</header>
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#filteripdReportModal">
                                                <i class="fa fa-filter"></i> 
                                            </button>
                                                <a href=""> <i class="fa fa-eye"></i></a>

                                            </div>
                                    <table class="mdl-data-table ml-table-bordered  " id="example4">
                                                <thead>
                                                    <tr>
                                                        <th class="mdl-data-table__cell--non-numeric">Category </th>
                                                        <th class="mdl-data-table__cell--non-numeric"> Amount </th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                        <tr class="odd gradeX">
                                                            
                                                            <td class="mdl-data-table__cell--non-numeric">Total Employees</td>
                                                            <td class="mdl-data-table__cell--non-numeric">{{employee_amount}}</td>
                                                        </tr>

                                                        <tr class="odd gradeX">
                                                            
                                                            <td class="mdl-data-table__cell--non-numeric">Employees Registered Today</td>
                                                            <td class="mdl-data-table__cell--non-numeric">{{today_employee_amount}}</td>
                                                        </tr>
                                                </tbody>
                                    </table>
                                    </div>
                                      </div>
