            <div class="tab-pane active" id="lab-dashboard-tab">

                    <div class="row" style="padding-left: 15px;width: 1200px;">

                        <div class="" id="dispensary-supplied-drug-table-id" >
                            <div class="card"  >
                                    <div class="card-head">
                                        <header><small>Recent Requests</small></header>
                                    </div>
                                    {% include 'lis\partials\htmx\test_list_htmx.html'%}
                            </div>
                        </div>
                        <div style="margin: 10px;"></div>
                        <!--
                        <div class="" id="dispensary-supplied-drug-table-id" >
                            <div class="card"  >
                                    <div class="card-head">
                                        <header><small>Recent Cases</small></header>
                                    </div>
                                    <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 600px;width: 580px;">
                                             <small><b>Full Name:</b> {{patient.full_name}}</small><br>
                                             <small><b>Gender</b> {{patient.sex}}</small><br>
                                             <div class="row">
                                                 <div class="col">
                                                     <div class="text-center"><h5><b>{{pending_test_count}}</b></h5></div>
                                                     <div ><h5><b style="padding-left: 28px;">Pending</b></h5></div>
                                                 </div>
                                                 <div class="col">
                                                     <div><h5><b class="text-center">{{completed_test_count}}</b></h5></div>
                                                     <div><h5><b style="padding-left: 28px;">Completed</b></h5></div>
                                                 </div>
                                                 <div class="col">
                                                     <div><h5><b>{{completed_test_count}}</b></h5></div>
                                                     <div><h5><b>Completed</b></h5></div>
                                                 </div>

                                             </div>
                                    </div>
                            </div>
                        </div>
                    -->
                    </div>
                </div>
