<div>
    <h2>Reset password</h2>
    <form method="POST" action="{% url 'staff:change_password' employee.id %}" id="form_sample_1" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in password_form %}
            <label for="{{ field.id_for_label }}"> {{ field.label }} </label>
            {{ field }}
        {% endfor %}
        <div class="form-actions">
            <div class="row">
                <div class="offset-md-3 col-md-9">
                    <button type="submit" class="btn btn-info">Reset</button>
                </div>
            </div>
        </div>
    </form>
</div>