{% extends "base.html" %}
{% load static %}
{% block style %}
    <link href="../assets/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <style>
        .quick-launch-container {
            display: inline-block;
            margin-left: 5px;
            padding-left: 5px;
            margin-right: 7px;
            border: black;
            border-width: 10px;
        }
        .quick-launch-label {
            display: block;
            color: black;
            font-weight: bold;
        }
        fieldset {
            padding-bottom: 10px;
            width: 700px; 
            border: 2px solid; 
            border-radius: 5px; 
            border-color: #0a7e37;
        }
        legend {
            color: black;
            width: max-content;
        }
    </style>

{% endblock %}
{% block title %} Queue {% endblock %}

{% block page_content %}
<head>
    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.charts.js" %}"></script>
    <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fusion.js" %}"></script>
</head>
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Quick Launch</legend>
                <a href="#">
                    <div class="quick-launch-container">
                        <span class="info-box-icon push-bottom bg-primary " style="display: block;">
                            <i class="fa fa-gear"></i>
                        </span>
                        <span class="quick-launch-label">Settings</span>
                    </div>
                </a>
                <a href="{% url 'staff:leave_request_list' %}">
                    <div class="quick-launch-container">
                        <span class="info-box-icon push-bottom bg-primary " style="display: block;">
                            <i class="fa fa-user"></i>
                        </span>
                        <span class="quick-launch-label">Accounts</span>
                    </div>
                </a>
                <a href="{% url 'opd_report' %}">
                    <div class="quick-launch-container">
                        <span class="info-box-icon push-bottom bg-primary " style="display: block;">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <span class="quick-launch-label">OPD Reports</span>
                    </div>
                </a>
                <a href="{% url 'inpatient_report' %}">
                    <div class="quick-launch-container">
                        <span class="info-box-icon push-bottom bg-primary " style="display: block;">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <span class="quick-launch-label">Ward Reports</span>
                    </div>
                </a>
                <a href="{% url 'pharmacy_report1' %}">
                    <div class="quick-launch-container">
                        <span class="info-box-icon push-bottom bg-primary " style="display: block;">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <span class="quick-launch-label">Pharmacy Reports</span>
                    </div>
                </a>
                
            </fieldset>
        </div>
    </div>
<br>
					<div class="state-overview">
						<div class="row">
					        <div class="col-xl-3 col-md-6 col-12">
					          <div class="info-box bg-white">
					            <span class="info-box-icon push-bottom bg-primary"><i class="material-icons">group</i></span>
					            <div class="info-box-content">
					              <span class="info-box-text">Appointments Today</span>
					              <span class="info-box-number">0</span>
					              <div class="progress">
					                <div class="progress-bar bg-primary" style="width: 45%"></div>
					              </div>
					              <span class="progress-description">
					                    
					                  </span>
					            </div>
					            <!-- /.info-box-content -->
					          </div>
					          <!-- /.info-box -->
					        </div>
					        <!-- /.col -->
					        <div class="col-xl-3 col-md-6 col-12">
					          <div class="info-box bg-white">
					            <span class="info-box-icon push-bottom bg-warning"><i class="material-icons">person</i></span>
					            <div class="info-box-content">
					              <span class="info-box-text">New Patients</span>
					              <span class="info-box-number">{{new_patients_today}}</span>
					              <div class="progress">
					                <div class="progress-bar bg-warning" style="width: 40%"></div>
					              </div>
					              <span class="progress-description">
					                    
					                  </span>
					            </div>
					            <!-- /.info-box-content -->
					          </div>
					          <!-- /.info-box -->
					        </div>
					        <!-- /.col -->
					        <!-- /.col -->
					      </div>
						</div>

<div class="row">
                                   <div class="col-md-6">
                                    <div class="card" style="overflow-y:scroll;overflow-x:scroll; height: 600px;width: 1100px;">
        <div id="myFirstchart-container">{{ output|safe }}</div>
        </div>
        </div>
                                   <div class="col-md-6">
                                    <div class="card" style="overflow-y:scroll;overflow-x:scroll; height: 600px;width: 1100px;">
        <div id="lab_test_container">{{ lab_test_chart|safe }}</div>
        </div>
        </div>
</div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->

    
    <script src="../assets/plugins/morris/morris.min.js" ></script>
    <script src="../assets/plugins/morris/raphael-min.js" ></script>
    <script src="../assets/js/pages/chart/morris/morris-home-data.js" ></script>

{% endblock %}
