{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
{% endblock %}
{% block title %} Queue {% endblock %}

{% block page_content %}
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="card  card-box" style="background-color: #eef1f5; height: 300px;">
                                <div class="card-head">
                                    <header>Prices</header>
                                </div>
                                <div class="card-body " id="bar-parent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 col-xs-3">
                                            <ul class="nav nav-tabs tabs-left">
                                                <li class="nav-item">
                                                    <a href="#drug-profile-tab" data-toggle="tab" class="active">Drug Price </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#drug-related-info-tab" data-toggle="tab"> Room Price </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8 col-sm-9 col-xs-9">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="drug-profile-tab">
                                                    <p>Lorem ipsum dolor sit amet, sumo impetus ea sit, ut pri mucius eruditi dolorum. Wisi liberavisse theophrastus mea cu, id enim elit erroribus nec. Et ridens fuisset volumus mel. Te duo prompta lucilius suavitate, viderer ocurreret ea ius.</p>
                                                    <a href="">Sample Type</a>
                                                </div>
                                                <div class="tab-pane fade" id="contraindication-tab">
                                                    <p>Doming conclusionemque sed ex, invenire ocurreret dissentiet his no. Ius cu novum assueverit, eam ex dolor molestiae theophrastus. Ex sed alii dolorum, et vis impetus expetendis dissentiunt. Vim ad soluta admodum tibique, inermis salutandi at mei, mutat nominati eos id. Id aeque iudico sit, eros adolescens est te.
                                                        <a href="{% url 'contraindication_drug_form' %}">Add</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="card  card-box" style="background-color: #eef1f5; height: 300px;">
                                <div class="card-head">
                                    <header>Structure</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body " id="bar-parent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 col-xs-3">
                                            <ul class="nav nav-tabs tabs-left">
                                                <li class="nav-item">
                                                    <a href="#inventory-tab" data-toggle="tab" class="active"> Drug Inventory </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#dispensary-tab" data-toggle="tab"> Dispensary  </a>
                                                </li>
                                                
                                                <li class="nav-item">
                                                    <a href="#opd-tab" data-toggle="tab"> OPD Structure</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#ipd-tab" data-toggle="tab"> IPD Structure</a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="col-md-8 col-sm-9 col-xs-9">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="inventory-tab">
                                                    <p>Lorem ipsum dolor sit amet, sumo impetus ea sit, ut pri mucius eruditi dolorum. Wisi liberavisse theophrastus mea cu, id enim elit erroribus nec. Et ridens fuisset volumus mel. Te duo prompta lucilius suavitate, viderer ocurreret ea ius.</p>
                                                    <a href="{% url 'inventory_structure' %}">Add Inventory</a>
                                                </div>
                                                <div class="tab-pane fade" id="dispensary-tab">
                                                    <p>Doming conclusionemque sed ex, invenire ocurreret dissentiet his no. Ius cu novum assueverit, eam ex dolor molestiae theophrastus. Ex sed alii dolorum, et vis impetus expetendis dissentiunt. Vim ad soluta admodum tibique, inermis salutandi at mei, mutat nominati eos id. Id aeque iudico sit, eros adolescens est te.
                                                    </p>
                                                    <a href="{% url 'inventory_structure' %}">Add Inventory</a>
                                                </div>
                                                <div class="tab-pane fade" id="opd-tab">
                                                    <p>Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes).
                                                        <a href="{% url 'drug_related_info' %}">Add</a>
                                                    </p>
                                                </div>
                                                <div class="tab-pane fade" id="ipd-tab">
                                                    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
                                                        <a href="{% url 'drug_price_form' %}">Add</a>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                   <!-- <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="card  card-box" style="background-color: #eef1f5; height: 300px;">
                                <div class="card-head">
                                    <header>Labratory</header>
                                </div>
                                <div class="card-body " id="bar-parent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 col-xs-3">
                                            <ul class="nav nav-tabs tabs-left">
                                                <li class="nav-item">
                                                    <a href="#drug-profile-tab" data-toggle="tab" class="active"> Sample Type </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#drug-related-info-tab" data-toggle="tab"> Sections </a>
                                                </li>
                                                
                                                <li class="nav-item">
                                                    <a href="#contraindication-tab" data-toggle="tab"> Test Type</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8 col-sm-9 col-xs-9">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="drug-profile-tab">
                                                    <p>Lorem ipsum dolor sit amet, sumo impetus ea sit, ut pri mucius eruditi dolorum. Wisi liberavisse theophrastus mea cu, id enim elit erroribus nec. Et ridens fuisset volumus mel. Te duo prompta lucilius suavitate, viderer ocurreret ea ius.</p>
                                                    <a href="">Sample Type</a>
                                                </div>
                                                <div class="tab-pane fade" id="contraindication-tab">
                                                    <p>Doming conclusionemque sed ex, invenire ocurreret dissentiet his no. Ius cu novum assueverit, eam ex dolor molestiae theophrastus. Ex sed alii dolorum, et vis impetus expetendis dissentiunt. Vim ad soluta admodum tibique, inermis salutandi at mei, mutat nominati eos id. Id aeque iudico sit, eros adolescens est te.
                                                        <a href="{% url 'contraindication_drug_form' %}">Add</a>
                                                    </p>
                                                </div>
                                                <div class="tab-pane fade" id="drug-related-info-tab">
                                                    <p>Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes).
                                                        <a href="{% url 'drug_related_info' %}">Add</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="card  card-box" style="background-color: #eef1f5; height: 300px;">
                                <div class="card-head">
                                    <header>Prices</header>
                                </div>
                                <div class="card-body " id="bar-parent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 col-xs-3">
                                            <ul class="nav nav-tabs tabs-left">
                                                <li class="nav-item">
                                                    <a href="#drug-profile-tab" data-toggle="tab" class="active">Drug Price </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#drug-related-info-tab" data-toggle="tab"> Room Price </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8 col-sm-9 col-xs-9">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="drug-profile-tab">
                                                    <p>Lorem ipsum dolor sit amet, sumo impetus ea sit, ut pri mucius eruditi dolorum. Wisi liberavisse theophrastus mea cu, id enim elit erroribus nec. Et ridens fuisset volumus mel. Te duo prompta lucilius suavitate, viderer ocurreret ea ius.</p>
                                                    <a href="">Sample Type</a>
                                                </div>
                                                <div class="tab-pane fade" id="contraindication-tab">
                                                    <p>Doming conclusionemque sed ex, invenire ocurreret dissentiet his no. Ius cu novum assueverit, eam ex dolor molestiae theophrastus. Ex sed alii dolorum, et vis impetus expetendis dissentiunt. Vim ad soluta admodum tibique, inermis salutandi at mei, mutat nominati eos id. Id aeque iudico sit, eros adolescens est te.
                                                        <a href="{% url 'contraindication_drug_form' %}">Add</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>-->
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="card  card-box" style="background-color: #eef1f5; height: 300px;">
                                <div class="card-head">
                                    <header>Staff</header>
                                </div>
                                <div class="card-body " id="bar-parent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 col-xs-3">
                                            <ul class="nav nav-tabs tabs-left">
                                                <li class="nav-item">
                                                    <a href="#department-tab" data-toggle="tab" class="active">Department </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="#designation-tab" data-toggle="tab" >Designation </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#drug-profile-tab" data-toggle="tab" >Employee </a>
                                                </li>

                                                <li class="nav-item">
                                                    <a href="#drug-related-info-tab" data-toggle="tab"> Sections </a>
                                                </li>
                                                
                                                <li class="nav-item">
                                                    <a href="#contraindication-tab" data-toggle="tab"> Shift Type</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8 col-sm-9 col-xs-9">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="department-tab">
                                                    <p>Lorem ipsum dolor sit amet, sumo impetus ea sit, ut pri mucius eruditi dolorum. Wisi liberavisse theophrastus mea cu, id enim elit erroribus nec. Et ridens fuisset volumus mel. Te duo prompta lucilius suavitate, viderer ocurreret ea ius.</p>
                                                    <a href="{% url 'staff:add_department' %}">Add Department</a>
                                                </div>
                                                <div class="tab-pane fade" id="designation-tab">
                                                    <p>Doming conclusionemque sed ex, invenire ocurreret dissentiet his no. Ius cu novum assueverit, eam ex dolor molestiae theophrastus. Ex sed alii dolorum, et vis impetus expetendis dissentiunt. Vim ad soluta admodum tibique, inermis salutandi at mei, mutat nominati eos id. Id aeque iudico sit, eros adolescens est te.                                                     
                                                    </p>

                                                    <a href="{% url 'staff:add_designation' %}">Add Designation</a>
                                                </div>
                                                <div class="tab-pane fade" id="drug-related-info-tab">
                                                    <p>Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes).
                                                    </p>
                                                        <a href="{% url 'drug_related_info' %}">Add Sections </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="card  card-box" style="background-color: #eef1f5; height: 300px;">
                                <div class="card-head">
                                    <header>Prices</header>
                                </div>
                                <div class="card-body " id="bar-parent">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-3 col-xs-3">
                                            <ul class="nav nav-tabs tabs-left">
                                                <li class="nav-item">
                                                    <a href="#drug-profile-tab" data-toggle="tab" class="active">Drug Price </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#drug-related-info-tab" data-toggle="tab"> Room Price </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-8 col-sm-9 col-xs-9">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="drug-profile-tab">
                                                    <p>Lorem ipsum dolor sit amet, sumo impetus ea sit, ut pri mucius eruditi dolorum. Wisi liberavisse theophrastus mea cu, id enim elit erroribus nec. Et ridens fuisset volumus mel. Te duo prompta lucilius suavitate, viderer ocurreret ea ius.</p>
                                                    <a href="">Sample Type</a>
                                                </div>
                                                <div class="tab-pane fade" id="contraindication-tab">
                                                    <p>Doming conclusionemque sed ex, invenire ocurreret dissentiet his no. Ius cu novum assueverit, eam ex dolor molestiae theophrastus. Ex sed alii dolorum, et vis impetus expetendis dissentiunt. Vim ad soluta admodum tibique, inermis salutandi at mei, mutat nominati eos id. Id aeque iudico sit, eros adolescens est te.
                                                        <a href="{% url 'contraindication_drug_form' %}">Add</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

{% endblock %}

{% block scripts %}
    <!-- data tables -->
{% endblock %}
