{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}
{% load crispy_forms_tags %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock%}
{% block page_content %}
{% include "outpatient_app/partials/room_queue_modal.html" %}
       
    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>
            
                </header>
                <button id = "panel-button2" 
                       class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                       data-upgraded = ",MaterialButton">
                       <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       data-mdl-for = "panel-button2">
                       <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
            </div>
            <div class="card-body " id="bar-parent1">
              
        
    <form action="" method="POST">
        		{% csrf_token %}
            
                <div class="form-group col-md-4">  
                    {{assign_form.room|as_crispy_field}}
                </div>
            	 <div class="form-group col-md-4">  
                    {{assign_form.service_team|as_crispy_field}}
                </div>
            	<div class="form-group" style="padding-top: 15px;">
                <button class="form-group btn btn-primary"  type="submit" > Assign</button>

            	</div>
            
    </form>

    {% block scripts %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>        
<script >
  $(document).ready(function() {
    $('#service-provider-id').select2();
    $('#room-id').select2();
});
  </script>

      
    {% endblock %}

{% endblock %}

 