{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}
{% load crispy_forms_tags %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link href="{% static 'css/pages/formlayout.css' %}" rel="stylesheet" type="text/css" />

{% endblock%}
{% block page_content %}
                {% include "outpatient_app/partials/follow_up_modal.html" %}
       
        <div class="col-md-12 col-sm-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Discharge Summary Form</header>
                </div>
                <div class="card-body" id="bar-parent">

        
    <form class="form-horizontal" style="padding-left: 200px;" id="form_sample_1" action="" method="POST">
        		{% csrf_token %}
                <h3> </h3>

                <div class="form-group col-md-6 col-sm-6">  
                    {{discharge_form.significant_findings|as_crispy_field}}
                </div>
                
                <div class="form-group col-md-6 col-sm-6">  
                    {{discharge_form.summary|as_crispy_field}}
                </div>

                 
            	<div class="form-group" style="padding-top: 15px;">
                <button class="form-group btn btn-primary"  type="submit" > Submit</button>
                <a class="form-group btn btn-warning" style="padding-left: 10px;" href="{% url 'doctor_queue' %}">Cancel</a>
            	</div>
 <a href="" data-toggle='modal' data-target="#follow-up-modal"><i class="fa fa-eye"></i> </a>

            
    </form>
      </div>
    </div>
  </div>

    {% block scripts %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>        
<script >
  $(document).ready(function() {
    $('#service-provider-id').select2();
    $('#room-id').select2();
});
  </script>

      
    {% endblock %}

{% endblock %}

 