{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
{% endblock %}
{% block title %} Queue {% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-box" >
                <div class="card-head">
                    <h6>{{room.room}}</h6>
                    
                </div>
                    <table id="example1" class="mdl-data-table ml-table-bordered mdl-js-data-table mdl-data-table is-upgraded" >
                        <thead >
                            <tr style="height: 4px;">
                                <th class="mdl-data-table__cell--non-numeric">Patient</th>
                               <!-- <th class="mdl-data-table__cell--non-numeric">Queue</th>-->
                                <th class="mdl-data-table__cell--non-numeric">Chief Compliant</th>
                                <th class="mdl-data-table__cell--non-numeric">Additional Services</th>
                                <th class="mdl-data-table__cell--non-numeric">Lab Order</th>
                                <th class="mdl-data-table__cell--non-numeric">Make Prescription</th>

                                <th class="mdl-data-table__cell--non-numeric">Assign To Ward</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for queue,detail in visit_zip %}
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric"><a href="{% url 'outpatient_medical_note' queue.visit.patient.id %}">{{queue.visit.patient}}</a></td>
                                  <!--  <td class="mdl-data-table__cell--non-numeric"> {{ queue.queue_number }}</td> -->
                                    <!--<td class="mdl-data-table__cell--non-numeric"><a href="{% url 'view_patient_symptom' queue.visit.patient.id %}">View Symptom</a></td>-->
                                    <td class="mdl-data-table__cell--non-numeric">{{detail.chief_complaint.complaint}} Hover</td>

                                    <td class="mdl-data-table__cell--non-numeric"> <a href="{% url 'give_service' queue.visit.patient.id %}">Additional Services </a></td>
                                    <td class="mdl-data-table__cell--non-numeric"><a href="{% url 'create-order' %}">Make Lab Order</a></td>
                                   <td> <a href="{% url 'patient_prescription' queue.visit.patient.id queue.visit.id room.room.id queue.id %}"><div class="fa-item col-md-5 col-sm-5 col-12">
                                                    <i class="fa fa-medkit"> </i> </div></a></td>

                                    <td class="mdl-data-table__cell--non-numeric"> <a href="{% url 'inpatient_reason_form' queue.visit.patient.id %}">Assign To Ward</a></td>

                                </tr>
                                      
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->
{% endblock %}