

{% extends "base.html" %}
{% load static %}
{% block title %} Fill Supply Form {% endblock %}
{% load crispy_forms_tags %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.css" />

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 

{% endblock %}
{% block page_content %}
<!--
<fieldset>
  <legend>Shipping Address:</legend>
          <div class="form-group col-md-6 mb-0">
      {{patient_form.first_name|as_crispy_field}}
          </div>
          <div class="form-group col-md-6 mb-0">
      {{patient_form.last_name|as_crispy_field}}
          </div>

  <div>
    <label for="shipping_street">Street:</label><br>
    <input type="text" name="shipping_street" id="shipping_street">
  </div>
  […]
</fieldset>

<fieldset>
  <legend>Billing Address:</legend>
  <div>
    <label for="billing_name">
      <span class="visuallyhidden">Billing </span>Name:
    </label><br>
    <input type="text" name="billing_name" id="billing_name">
  </div>
  <div>
    <label for="billing_street">Street:</label><br>
    <input type="text" name="billing_street" id="billing_street">
  </div>
  […]
</fieldset>
-->
    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header>Patient Registration Form</header>
              
            </div>
            <div class="card-body " id="bar-parent1">
       
  
        <form action="" method="POST">
      {% csrf_token %}


        <div class="form-row">
          <div class="form-group col-md-2 " >
            <div style="">
            <p>Full Name:</p>
            </div>
          </div>
            <div class="form-group col-md-2 mb-0">
		    {{patient_form.first_name|as_crispy_field}}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{patient_form.last_name|as_crispy_field}}      
            </div>

        </div>
        
        <div class="form-row">
          <div class="form-group col-md-2" >
            <p>Sex and Age</p>
          </div>

              <div class="form-group col-md-2 mb-0">
              {{patient_form.sex|as_crispy_field}}      
              </div>
                

              <div class="form-group col-md-2 mb-0">
              {{patient_form.dob|as_crispy_field}}      
              </div>
        </div>
      <div class="form-row">
          <div class="form-group col-md-2" >
            <p>Job and Address</p>
          </div>

        <div class="form-group col-md-2">
        
		{{patient_form.occupation|as_crispy_field}}
        </div>
              <div class="form-group col-md-2 mb-0">
              {{patient_form.address|as_crispy_field}}      
              </div>

      </div>
        <div class="form-row">
          <div class="form-group col-md-2" >
            <p>Phone Number</p>
          </div>

        <div class="form-group col-md-2">
          {{patient_form.phone_number|as_crispy_field}}
        </div>
        <div class="form-group col-md-2">
          {{payment_status_form.payment_status|as_crispy_field}}
        </div>

    	</div>
        <div style="width: 100%">
   
        <button type="submit" class="btn-info btn" > Register</button> 
        </div>
          
            </form>

{% block script %}
  <script src="../assets/plugins/material/material.min.js"></script>
  <script src="../assets/plugins/material-datetimepicker/moment-with-locales.min.js"></script>
  <script src="../assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
  <script src="../assets/plugins/material-datetimepicker/datetimepicker.js"></script>


{% endblock %}


{% endblock %}

