{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %} Patient List {% endblock %}

{% block page_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>Prescription Lists</header>
                    <div class="tools">
                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                    </div>
                </div>
                <div class="card-body ">
                    <table id="example1" class="display table-bordered table-striped table-hover" style="width:100%;">
                        <thead>
                            <tr class="gradeX odd">
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Adress</th>                                
                                <th>Phone Number</th>
                                <th>Action</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in patient_list %}
                                <tr>
                                    <td><a href="{% url 'patient_record' patient.id %}">{{patient.first_name}} {{patient.last_name}}</a></td>
                                    <td> {{ patient.sex }}</td>
                                    <td> {{ patient.age }} </td>
                                    
                                    <td> {{ patient.address }} </td>
                                    <td> {{ patient.phone_number }} </td>
                                        <td>
                                    <div class="btn-group btn-group-circle">
                                    <button type="button" class="btn btn-primary">Actions</button>
                                    <button type="button" class="btn btn-circle-right btn-primary dropdown-toggle m-r-20" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(79px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <li><a href="{% url 'patient_medical_condition_form' patient.id %}">Add Medical Conditon</a>
                                        </li>
                                        <li><a href="{% url 'patient_surgery_history_form' patient.id %}">Add Surgery History</a>
                                        </li>
                                        <li><a href="{% url 'patient_allergy_form' patient.id %}"> Add Allergy Info</a>
                                        </li>
                                        <li><a href="{% url 'patient_habit_form' patient.id %}"> Add  Habit Info</a>
                                        </li>

                                        <li><a href="{% url 'patient_stay_duration_list' patient.id %}">Patient's Ward Stays </a>
                                        </li>

                                        <li><a href="{% url 'patient_insurance_form' patient.id %}">Add Insurance Info</a>
                                        </li>
                                        

                                        
                                        
                                        
                                    </ul>
                                    </div>    
                                    </td>
                                
                                    
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>
{% endblock %}