{% extends "base.html" %}
{% load static %}
{% block title %} {% endblock %}
{% load crispy_forms_tags %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock%}
{% block page_content %}
       
    <div class="" style="width: 100%;">
        <div class="card card-box">
            <div class="card-head">
                <header> <!-- <ul class="nav nav-tabs">
 
  <li ><a href="" style="color: grey;">Patient Symptom</a></li>
  <li ><a href="" style="color: black;">Vital Signs</a></li>
  <li class="active"><a href="{% url 'assign_patient' %}"  style="color: grey;">Assign Patient</a></li>

</ul> 
-->
</header>
                <button id = "panel-button2" 
                       class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                       data-upgraded = ",MaterialButton">
                       <i class = "material-icons">more_vert</i>
                    </button>
                    <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                       data-mdl-for = "panel-button2">
                       <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                       <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                    </ul>
            </div>  <div class="card-body " id="bar-parent1">
              
        
    <form action="" method="POST">
        		{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-4">  
                    {{vital_form.pulse_rate|as_crispy_field}}
                </div>
                </div>
            <div class="form-row">	 
               <div class="form-group col-md-4">  
                    {{vital_form.temperature|as_crispy_field}}
                </div>
                <div class="form-group col-md-4">  
                    {{vital_form.temperature_unit|as_crispy_field}}
                </div>
              </div>
            	
              <div class="form-row">
                  <div class="form-group col-md-4">  
                    {{vital_form.blood_pressure|as_crispy_field}}
                  </div>
              </div>

              <div>

                <button class="form-group btn btn-primary" type="submit" > Submit</button>

            	</div>
            
    </form>

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
            
    {% block scripts %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>        
<script >
  $(document).ready(function() {
    $('#service_room').select2();
    $('#patient').select2();
});
  </script>

      
    {% endblock %}

{% endblock %}

 