{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <style>
        .quick-launch-container {
            display: inline-block;
            margin-left: 5px;
            padding-left: 5px;
            margin-right: 7px;
            border: black;
            border-width: 10px;
        }
        .quick-launch-label {
            display: block;
            color: black;
            font-weight: bold;
        }
        fieldset {
            padding-bottom: 10px;
            width: 150px; 
            border: 2px solid; 
            border-radius: 5px; 
            border-color: #0a7e37;
        }
        legend {
            color: black;
            width: max-content;
            font-size: 14px;
        }
        .add-allergy {
            position: absolute;
            bottom: 0;
            right: 3px;
        }
    </style>


{% endblock %}
{% block title %} Patient Dashboard {% endblock %}

{% block page_content %}

                    <div class="row">

                        <div class="col-md-6" id="dispensary-supplied-drug-table-id" >
                            <div class="card" style="height: 270px;width: 500px;">
                        <div class="card-head " >
                                   <!-- <button  class="btn btn-circle" data-toggle="modal" data-target="#createBuildingModal">
                                    </button> -->
                                <div class="row">
                                    <a href="{% url 'core:add_patient_consultation' patient.id %}">
                                    <div class="row" style="padding-left:30px;">
                                        <div>
                                        <i class="fa fa-plus fa-1x"></i> 
                                         </div>
                                        <div style="padding-left:7px;padding-right: 8px;">
                                            <label><small> Add Consultation </small></label>
                                        </div>
                                    </div>
                                    </a>

                                </div>

                        </div>
                                    <div class="card-body">
                                        <table id=""  class=" ml-table-bordered" style=" border: 10px; border-color: black;">
                                            <thead style="background-color: lightgrey;">
                                                <tr class="">
                                                    <th class="text-center"><small> Title</small></th>
                                                    <th class="text-center"><small> Registered On</small></th>
                     
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for consultation in consultation_list %}
                                                    <tr class="" style="height:40px;">
                                                        <td style="width:300px" class="text-center">
                                                            <small>
                                                                <a href="{% url 'core:edit_patient_consultation' consultation.id %}" >{{ consultation.title}}</a> 
                                                            </small>
                                                        </td>
                                                        <td style="width:300px" class="text-center">
                                                            <small>
                                                                {{ consultation.registered_on}}</a> 
                                                            </small>
                                                        </td>

                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                            </div>
                        </div>
                    </div>
            
{% endblock %}

{% block scripts %}
    <script>


    </script>
{% endblock %}
        