{% extends "base.html" %}
{%  load custom_dict %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <style>
        .quick-launch-container {
            display: inline-block;
            margin-left: 5px;
            padding-left: 5px;
            margin-right: 7px;
            border: black;
            border-width: 10px;
        }
        .quick-launch-label {
            display: block;
            color: black;
            font-weight: bold;
        }
        fieldset {
            padding-bottom: 10px;
            width: 150px; 
            border: 2px solid; 
            border-radius: 5px; 
            border-color: #0a7e37;
        }
        legend {
            color: black;
            width: max-content;
            font-size: 14px;
        }
        .add-allergy {
            position: absolute;
            bottom: 0;
            right: 3px;
        }
    </style>


{% endblock %}
{% block title %} Laboratory Requests {% endblock %}

{% block page_content %}

            <div class="tab-pane" id="consultation-list-tab">
                    <div class="row">

                        <div class="col-md-12" id="dispensary-supplied-drug-table-id" >
                            <div class="card" style="width: 1250px;padding-right: 30px;">
                            <div class="card-head" >
                                   <!-- <button  class="btn btn-circle" data-toggle="modal" data-target="#createBuildingModal">
                                    </button> -->
                                <div class="row">
                                        {% if user.employee.designation.permission.laboratory.write_lab_request %}
                                            <small style="padding-left: 50px;"> <span><a href="{% url 'core:add_lab_request' patient.id %}">Add Lab Request</a></span> </small> 
                                        {% endif %}
                                           <small style="padding-left: 20px;"> <span><a href data-toggle='modal' data-target='#filterByDateModal'></a></span> </small>
                                           <small style="padding-left: 20px;" onclick="searchConsultation()"> <i class="fa fa-search"></i><label style="padding-left: 10px;">Search</label></small>
                                            <small style="padding-left: 550px;">                           
                                                <i class="fa fa-print"></i>
                                                <label>Print/Export</label>
                                            </small>

                                </div>

                            </div>
                        </div>

                        <div class="card card-box col-md-8" id="search-consultation-id" style="display:none;">
                           <div class="row" style="padding-bottom: 10px;">
                               <div style="padding-right:10px;">
                                    <label><small>Look For</small></label>
                               </div>
                               <form method="GET" id="search-consultation-form-id">
                                   <div>
                                        <input type="text" list="patient_data_list" name="search-consultation" id="search-consultation" class="col-md-6"> 
                                        <small><button type="submit" >Find Now</button></small> 

                                   </div>
                               </form>
                               <div class="pull-right">
                                    <a onclick="closeSearchConsultationDiv()"> <i class="fa fa-times"></i></a> 
                               </div>

                            </div>
                        </div>

                <div class="card card-box" style="overflow-y:scroll;overflow-x:scroll;background-color: white; width: 1250px;height: 600px;">
                    {% if user.employee.designation.permission.laboratory.view_lab_request %}

                    <table id=""  class=" ml-table-bordered" style=" border: 10px; border-color: black;width: 1250px;">
                        
                        <thead style="background-color: lightgrey;">
                            <tr class="gradeX odd">
                                {% if process_payment %}
                                    <th class= "text-center"><small><!-- Checkboxes to select orders as paid --></small></th>
                                {% endif %}
                                <th class= "text-center"><small>Id</small></th>
                                <th class= "text-center"><small>Ordered by</small></th>
                                <th class= "text-center"><small>Priority</small></th>
                                <th class= "text-center"><small>Ordered at</small></th>
                                <th class= "text-center"><small>Number of tests</small></th>
                                <th class= "text-center"><small>Progress</small></th>
                                <th class= "text-center"><small>Price</small></th>
                                <th class= "text-center"><small>Actions</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in order_list %}
                            {% if order.is_complete %}
                            {% else %}
                                <tr style="height: 40px;">
                                    {% if process_payment %}
                                        <td class= "text-center" style="width:100px"><small>
                                            <label class="rt-chkbox rt-chkbox-single rt-chkbox-outline">
                                                <input type="checkbox" name='orders' value="{{ order.id }}" class="checkboxes" />
                                                <span></span>
                                            </label>
                                        </small></td>
                                    {% endif %}
                                    <td class= "text-center" style="width:300px"><small> {{ order.id }}</small></td>
                                    <td class= "text-center" style="width:300px"><small> {{ order.ordered_by.full_name }} </small></td>
                                    <td class= "text-center" style="width:300px"><small> 
                                        {% if order.priority == 'EMERGENCY' %}
                                            <span class="badge badge-danger"> {{ order.priority }} </span> 
                                        {% else %}
                                            <span class="badge badge-info"> {{ order.priority }} </span>
                                        {% endif %}
                                    </small></td>
                                    <td class= "text-center" style="width:300px"><small> {{ order.ordered_at }} </small></td>
                                    <td class= "text-center" style="width:100px"><small> {{ order.no_of_tests }} </small></td>
                                    <td class= "text-center" style="width:300px"><small> {{ order.progress }} </small></td>
                                    <td class= "text-center" style="width:300px"><small> {{ order.total_price }} </small></td>
                                    <td class= "text-center" style="width:300px"><small><a href="{% url 'core:add_lab_case' order.id %}">View</a></small></td>
                                    <!--
                                    <td class= "text-center" style="width:300px"><small>
                                        <div class="btn-group btn-group-circle">
                                            <button type="button" class="btn btn-primary">Actions</button>
                                            <button type="button" class="btn btn-circle-right btn-primary dropdown-toggle m-r-20" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(79px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <li><a href="{% url 'view-order' order.id %}">View</a>
                                                </li>
                                                <li>
                                                    {% if order.is_paid == True %}
                                        -->                <!-- a href="#">Mark as Unpaid</a>< -->
                                           <!--         {% else %}
                                                        <a href="{% url 'mark-order-as-paid' order.id %}">Mark as paid</a>
                                                    {% endif %}
                                                </li>
                                                <li class="divider"></li>
                                                </li>
                                            </ul>
                                        </div>
                                    </small></td>-->
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                        
                    </table>
                    {% endif %}
                                        <!--
                                        <table id=""  class=" ml-table-bordered" style=" border: 10px; border-color: black;width: 1250px;">
                                            <thead style="background-color: lightgrey;">
                                                <tr class="">
                                                    <th class="text-cen<th class= "text-center"><small>><small> Patient</small></small></th>
                                                    <th class="text-cen<th class= "text-center"><small>><small> Description</small></small></th>
                                                    <th class="text-cen<th class= "text-center"><small>><small> Ordered_by</small></small></th>
                                                    <th class="text-cen<th class= "text-center"><small>><small> Delete</small></small></th>
                     
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for request in request_list %}
                                                {% is_in_date_array request.registered_on date_array %}
                                                    {% if is_in_array %}                                    
                                                    {% else %}
                                                    <tr class="" style="height:40px;">
                                                        <td class= "text-center" style="width:300px"><small>
                                                        <b>{{request.registered_on.date}}</b>
                                                        </small></td>
                                                    </tr>
                                                    {% endif %}

                                                    <tr class="" style="height:40px;">
                                                        <td style="width:300px" class="text-cen<th class= "text-center"><small>>
                                                            <small>
                                                                <a href="{% url 'core:edit_patient_consultation' consultation.id %}" >{{ request.title}}</a> 
                                                            </small>
                                                        </small></td>
                                                        <td style="width:300px" class="text-cen<th class= "text-center"><small>>
                                                            <small>
                                                                {{ request.registered_on}} 
                                                            </small>
                                                        </small></td>
                                                        <td style="width:300px" class="text-cen<th class= "text-center"><small>>
                                                            <small>
                                                                <a href="" data-toggle="modal" data-target="#deletePatientConsultationModal{{consultation.id}}"><i class="fa fa-trash"></i></a> 
                                                            </small>
                                                        </small></td>

                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>-->

                                    </div>

                        </div>
                    </div>
            
        </div>


<script type="text/javascript">
    
        function searchConsultation() {
               document.getElementById('search-consultation-id').style.display = 'block';          
                showingModal = true;
            }

        function closeSearchConsultationDiv() {
               document.getElementById('search-consultation-id').style.display = 'none';          
               
                showingModal = true;
            }


</script>
{% endblock %}