{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <style>
        .quick-launch-container {
            display: inline-block;
            margin-left: 5px;
            padding-left: 5px;
            margin-right: 7px;
            border: black;
            border-width: 10px;
        }
        .quick-launch-label {
            display: block;
            color: black;
            font-weight: bold;
        }
        fieldset {
            padding-bottom: 10px;
            width: 150px; 
            border: 2px solid; 
            border-radius: 5px; 
            border-color: #0a7e37;
        }
        legend {
            color: black;
            width: max-content;
            font-size: 14px;
        }
        .add-allergy {
            position: absolute;
            bottom: 0;
            right: 3px;
        }
    </style>


{% endblock %}
{% block title %} Patient Dashboard {% endblock %}

{% block page_content %}

<datalist id="patient_data_list" >
    {% for patient in patient_list %}
        <option value="{{patient}}" >
            ID = {{patient.id}}
        </option>
    {% endfor %}    
</datalist>


                    <div class="" style="padding-bottom:30px;">
                        <div class=" card col-md-12 " >

                        <div class="card-head " >
                                   <!-- <button  class="btn btn-circle" data-toggle="modal" data-target="#createBuildingModal">
                                    </button> -->
                                <div class="row">
                                    <a data-toggle="modal" data-target="#treatmentPlanForm">
                                    <div class="row" style="padding-left:30px;">
                                        <div>
                                        <i class="fa fa-plus fa-1x"></i> 
                                         </div>
                                        <div style="padding-left:7px;padding-right: 8px;">
                                            <label><small> Add Entry </small></label>
                                        </div>
                                    </div>
                                    </a>

                                </div>
                               <div style="padding-left:50px;" onclick="searchPatient()">                                    
                                        <i class="fa fa-search"></i>
                                        <label><small>Search</small></label>
                                     
                                </div>

                                   <div class="pull-right" style="padding-left:10px;">
                                        <a>
                                            <i class="fa fa-print"></i>
                                            <label><small>Print/Export</small></label>
                                        </a> 
                                    </div>

                                <div class="pull-right" style="padding-left:10px;" >
                                        <input type="checkbox" class="hidden" hx-get="{% url 'whole_ward_view' %}?id=PlanStatus" hx-trigger='click'  hx-swap='innerHTML' hx-target='#treatment-plan-tab' hx-include="[name='plan_status']"  value="Dismissed" name="plan_status" id="dismissed_cb">
                                        <label for="dismissed_cb"><small>Active</small></label> 
                                </div>

                                <div class="pull-right" style="padding-left:10px;" >
                                        <input type="checkbox" class="hidden" hx-get="{% url 'whole_ward_view' %}?id=PlanStatus" hx-trigger='click'  hx-swap='innerHTML' hx-target='#treatment-plan-tab' hx-include="[name='plan_status']"  value="Completed" name="plan_status" id="completed_cb">
                                        <label for="completed_cb"><small>Inactive</small></label>                                    
                                </div>
                                <div class="pull-right" style="padding-left:10px;" >
                                        <input type="checkbox" class="hidden" hx-get="{% url 'core:patient_list' 'None' %}?id=PlanStatus8" hx-trigger='click'  hx-swap='innerHTML' hx-target='#drug_price_tab' hx-include="[name='all_ward_status']"  value="Completed" name="all_ward_status" id="all_departments_id">
                                        <label for="all_departments_id"><small>All</small></label>                                    
                                </div>

                                <div class="pull-right" style="padding-left:10px;" >
                                        <input type="checkbox" class="hidden" hx-get="{% url 'core:patient_list' 'None'%}?id=PlanStatus3" hx-trigger='click'  hx-swap='innerHTML' hx-target='#drug_price_tab' hx-include="[name='ward_status_outpatient']"  value="Outpatient" name="ward_status_outpatient" id="outpatient_id">
                                        <label for="outpatient_id"><small>Outpatient</small></label>                                    
                                </div>

                                <div class="pull-right" style="padding-left:10px;" >
                                        <input type="checkbox" class="hidden" hx-get="{% url 'core:patient_list' 'None' %}?id=PlanStatus1" hx-trigger='click'  hx-swap='innerHTML' hx-target='#drug_price_tab' hx-include="[name='ward_status']"  value="Inpatient" name="ward_status" id="inpatient_id">
                                        <label for="inpatient_id"><small>Inpatient</small></label>                                    
                                </div>


                        </div>
                        </div>

                        <div class="card card-box col-md-8" id="search-patient-id" style="display:none;">
                           <div class="row" style="padding-bottom: 10px;">
                               <div style="padding-right:10px;">
                                    <label><small>Look For</small></label>
                               </div>
                               <form method="GET" id="search-patient-form-id">
                                   <div>
                                        <input type="text" list="patient_data_list" value="{{patient.id}}" name="search-patient" id="search-patient" class="col-md-6"> 
                                        <small><button type="Submit" >Find Now</button></small> 

                                   </div>
                               </form>
                               <div class="pull-right">
                                    <a onclick="closeSearchDiv()"> <i class="fa fa-times"></i></a> 
                               </div>

                            </div>
                        </div>

                            <div class="row" style="padding-left: 18px;">    
                                    {% include 'core\htmx_partials\patient_list_htmx.html' %}

                                <div class="" style="width: 50px;">

                                    {% for letter in small_letters %}
                                    <div>
                                            <input type="checkbox" class="hidden" hx-get="{% url 'core:patient_list' 'None' %}?id=PatientAlphabet" hx-trigger='click'  hx-swap='innerHTML' hx-target='#drug_price_tab' hx-include="[name='alphabet']"  value="{{letter}}" name="alphabet" id="letter{{letter}}" unchecked>
                                            <div style="background-color: #eef1f5;width: 20px;padding-left: 5px;margin: 0px;" >
                                                <label class="text-center" for="letter{{letter}}"><small>{{letter}}</small></label>                                    
                                            </div>
                                    </div>
                                    {% endfor %}                                    
                                </div>
                            </div>
                    </div>


{% endblock %}

{% block scripts %}
    <script>

        function searchPatient() {
               document.getElementById('search-patient-id').style.display = 'block';          
            }

        function closeSearchDiv() {
               document.getElementById('search-patient-id').style.display = 'none';          
               
                showingModal = true;
            }

    </script>
{% endblock %}
