{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <style>
        .quick-launch-container {
            display: inline-block;
            margin-left: 5px;
            padding-left: 5px;
            margin-right: 7px;
            border: black;
            border-width: 10px;
        }
        .quick-launch-label {
            display: block;
            color: black;
            font-weight: bold;
        }
        fieldset {
            padding-bottom: 10px;
            width: 150px; 
            border: 2px solid; 
            border-radius: 5px; 
            border-color: #0a7e37;
        }
        legend {
            color: black;
            width: max-content;
            font-size: 14px;
        }
        .add-allergy {
            position: absolute;
            bottom: 0;
            right: 3px;
        }
    </style>


{% endblock %}
{% block title %} Patient Dashboard {% endblock %}

{% block page_content %}
{% load custom_dict %}
    {% include "core/modals/add_drug_prescription.html" %}
    {% include "core/modals/repeat_drug_prescription6.html" %}
    {% include "outpatient_app/partials/filter_by_date.html" %}
    {% include 'core\modals\add_patient_document.html' %}
    {% include 'core\modals\add_patient_image.html' %}
    {% include "inpatient_app/partials/modals/patient_treatment_plan_form.html" %}
    {% include "inpatient_app/partials/modals/filter_treatment_plan.html" %}
{% include "inpatient_app/partials/treatment_plan_modal.html" %}
{% include "inpatient_app/partials/treatment_plan_form.html" %}


<div class="  " style="background-color: white;" >
    
    <div class="col-md-12" >
        <div class="">
            <div class="card-head  border-bottom-0" style="background-color: #eef1f5; padding-bottom: 10px;padding-left: 0px;width: 1228px;">
                <div class="row">
                    {% if user.employee.designation.permission.component.view_patient_chart == True %}
                        <div style="padding-left: 20px;">
                                {{patient.full_name}}                             
                            <a href="{% url 'core:edit_patient' patient.id %}"> <i class="fa fa-edit"></i> </a>
                            {%is_admitted patient.id %}
                            {% if result %}
                                <a style="padding-left: 20px;" href="{% url 'discharge_summary_form' patient.id %}"> Discharge </a>
                            {% endif %}
                        </div>
                    {% endif %}
                        <div>
                        </div>                    
                </div>
            </div>
        </div>
        <div style="padding-top: 20px;"></div>
        <div class="row"> 
           <div style="width: 15px;"></div>

            <div class="col col-md-2 card card-box" style="padding-top: 15px;">
            <div class="">
                <fieldset>
                    <legend> </legend>
                        <ul class="nav nav-tabs tabs-left">
                            <li class="nav-item" style="height:33px;">
                                <a href="#patient-dashboard-tab" data-toggle="tab" class="active"><small>Dashboard</small></a>
                            </li>
                            <li class="nav-item" style="height:33px;">
                                <a href="#patient-history-tab5" data-toggle="tab"  > <small>History</small> </a>
                            </li>
                            <!--
                            <li class="nav-item" style="height:33px;">
                                <a href="{% url 'core:patient_activites' patient.id %}" > <small>Timeline</small> </a>
                            </li>
                            -->
                            <li class="nav-item" style="height:33px;">
                                <a href="#patient-timeline-tab" data-toggle="tab"><small>Timeline</small></a>
                            </li>

                            <li class="nav-item" style="height:33px;">
                                <a href="#patient-activities-tab" data-toggle="tab"><small>Activities</small></a>
                            </li>
                            <li class="nav-item" style="height:33px;">
                                <a href="#consultation-list-tab" data-toggle="tab"> <small>Consultation</small> </a>
                            </li>
                            <hr style="color: grey;border: solid;border-width: 2px; border-color: darkgrey;" class="border-bottom-0 border-left-0 border-right-0" >
                            <li class="nav-item" style="height:33px;">
                                <a href="#document-list-tab" data-toggle='tab'> <small>Documents</small> </a>
                            </li>
                            <li class="nav-item" style="height:33px;">
                                <a href="#image-list-tab" data-toggle='tab'> <small>Images</small> </a>
                            </li>
                            <hr style="color: grey;border: solid;border-width: 2px; border-color: darkgrey;" class="border-bottom-0 border-left-0 border-right-0" >

                            <li class="nav-item" style="height:33px;">
                                <a href="#prescription-list-tab" data-toggle='tab'> <small>Medication</small> </a>
                            </li>
                            <li class="nav-item" style="height:33px;">
                                <a href="#treatment-plan-list-tab" data-toggle='tab'> <small>Treatment Plan</small> </a>
                            </li>

                        </ul>
                    
                </fieldset>
            </div>

            </div>
             
             <div class="" style="padding-top: 15px;">
            <div class="col">
             <!-- <div class="col-md-2"></div>-->
            <div class="tab-content" style="width: 971px;" >

                {% include "core/tabs/patient_dashboard_tab.html" %}

                {% include "core/tabs/patient_lists_tab.html" %}

                {% include "core/tabs/patient_demo_values_tab2.html" %}

                {% include "core/tabs/consultation_list_tab.html" %}


                {% include "core/tabs/patient_activities_tab.html" %}

                {% include "core/tabs/patient_timeline_tab.html" %}

                {% include "core/tabs/document_list_tab.html" %}

                {% include "core/tabs/patient_chart_history_tab.html" %}

                {% include "core/tabs/image_list_tab.html" %}
                
                {% include "core/tabs/prescription_list_tab.html" %}

                {% include "core/tabs/treatment_plan_list_tab.html" %}

            </div>
            </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}

{% block scripts %}
    <script>


    </script>
{% endblock %}
