{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <style>
        .quick-launch-container {
            display: inline-block;
            margin-left: 5px;
            padding-left: 5px;
            margin-right: 7px;
            border: black;
            border-width: 10px;
        }
        .quick-launch-label {
            display: block;
            color: black;
            font-weight: bold;
        }
        fieldset {
            padding-bottom: 10px;
            width: 150px; 
            border: 2px solid; 
            border-radius: 5px; 
            border-color: #0a7e37;
        }
        legend {
            color: black;
            width: max-content;
            font-size: 14px;
        }
        .add-allergy {
            position: absolute;
            bottom: 0;
            right: 3px;
        }
    </style>


{% endblock %}
{% block title %} Patient History {% endblock %}

{% block page_content %}


<div class="card card-box  " style="background-color: white;" >
    
    <div class="col-md-12" >
        <div class="" style="padding-right: 40px;">
            <div class="card-head col-md-12 border-bottom-0" style="background-color: #eef1f5; padding-bottom: 10px;padding-left: 20px;">
                <div class="row">
                        <div>
                                {{patient.full_name}}                             

                            <a href="{% url 'core:edit_patient' patient.id %}"> <i class="fa fa-edit"></i> </a>

                        </div>
                        <div>
                        </div>                    
                </div>
            </div>
        </div>
        <div class="row" style="padding-left: 13px;">    
            <div class="col col-md-2 card card-box" >
            <div class="">
                <fieldset>
                    <legend> </legend>
                        <ul class="nav nav-tabs tabs-left">
                            <li class="nav-item" style="height:33px;">
                                <a href="{% url 'core:patient_dashboard' patient.id %}"  ><small>Dashboard</small></a>
                            </li>
                            <li class="nav-item" style="height:33px;">
                                <a href="" data-toggle="tab" class="active"> <small>History</small> </a>
                            </li>
                            <li class="nav-item" style="height:33px;">
                                <a href="{% url 'core:patient_timeline' patient.id %}" > <small>Timeline</small> </a>
                            </li>
                            <li class="nav-item" style="height:33px;">
                                <a href="{% url 'core:patient_activites' patient.id %}" > <small>Activities</small> </a>
                            </li>
                            <li class="nav-item" style="height:33px;">
                                <a href="{% url 'core:patient_dashboard' patient.id %}"> <small>Consultation</small> </a>
                            </li>

                        </ul>
                    
                </fieldset>
            </div>
            <div class="">
                <fieldset>
                    <legend></legend>
                        <ul class="nav nav-tabs tabs-left">
                            <li class="nav-item" style="height:33px;">
                                <a href="{% url 'core:patient_dashboard' patient.id %}"> <small>Documents</small> </a>
                            </li>
                            <li class="nav-item" style="height:33px;">
                                <a href="{% url 'core:patient_dashboard' patient.id %}" > <small>Medication</small> </a>
                            </li>
                            <li class="nav-item" style="height:33px;">
                                <a href="{% url 'core:patient_dashboard' patient.id %}" > <small>Treatment Plan</small> </a>
                            </li>

                        </ul>
                    
                </fieldset>
            </div>

            </div>
             
            <div class="col">
                <div class="col-md-12">
                            <div class="row col-md-12" >
                            <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active show" href="#patint-tab" data-toggle="tab"><small> Medical History</small></a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#cust" data-toggle="tab"><small> Surgical History</small></a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#social-history-tab" data-toggle="tab"><small>Social History</small></a></li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="#family-history-tab" data-toggle="tab"><small>Family History</small></a></li>

                            </ul>

                           </div>
              </div>


    <div class="tab-content col-md-12" >
        {% include "core/tabs/edit_patient_medical_history_tab.html" %}

           <div class="tab-pane" id="cust">
                djjj
           </div>
        {% include "core/tabs/edit_patient_social_history_tab.html" %}

        {% include "core/tabs/edit_patient_family_history_tab.html" %}
        {% include "core/tabs/edit_patient_surgery_history_tab.html" %}

    </div>

             <!-- <div class="col-md-2"></div>-->
            </div>
        </div>

    </div>

</div>


{% endblock %}

{% block scripts %}
    <script>


    </script>
{% endblock %}
