<div class="modal fade" id="patientHistoryModal{{x}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="color: black;">
            <div class="modal-header">
                <h4 class="modal-title" id="patientHistoryModal{{x}}">Visit Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-10">
                    <p> <b>Visit Date:</b> May 24 - 29</p>
                    <p> <b>Visit Type:</b> IPD(Room 35 Building 2)</p>
                    <p><b>Significant Findings:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                         Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    <p><b>Discharge Summary:</b> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick='$("#patientHistoryModal{{x}}").modal("hide")'>Close</button>
            </div>
        </div>
    </div>
</div>