<div class="modal fade" id="patientHistoryModal{{duration.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="color: black;">
            <div class="modal-header">
                <h4 class="modal-title" id="patientHistoryModal{{x}}">Visit Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-10">
                    <p> <b>Visit Date:</b>                                 {{duration.admission_date.date}} - {{duration.leave_date.date}}</p>                    
                    <p> <b>Visited room:</b> {{duration.room}}</p>
                    <p><b>Significant Findings:</b> {{summary.significant_findings}}</p>
                    <p><b>Discharge Summary:</b> {{summary.summary}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick='$("#patientHistoryModal{{x}}").modal("hide")'>Close</button>
            </div>
        </div>
    </div>
</div>