            <div class="tab-pane {% if active_tab == 'plan_tab' %} active {% else %}  {% endif %}" id="treatment-plan-tab">
                    <div class="" style="padding-bottom:30px;">
                        <div class=" card col-md-12 " >

                        <div class="card-head " >
                                   <!-- <button  class="btn btn-circle" data-toggle="modal" data-target="#createBuildingModal">
                                    </button> -->
                                <div class="row">
                                    <a data-toggle="modal" data-target="#treatmentPlanForm">
                                    <div class="row" style="padding-left:30px;">
                                        <div>
                                        <i class="fa fa-plus fa-1x"></i> 
                                         </div>
                                        <div style="padding-left:7px;padding-right: 8px;">
                                            <label><small> Add Entry </small></label>
                                        </div>
                                    </div>
                                    </a>

                                </div>
                               <div style="padding-left:50px;" onclick="searchPlan()">
                                    
                                        <i class="fa fa-search"></i>
                                        <label><small>Search</small></label>
                                     
                                </div>
                               <div style="padding-left:50px;" >
                                    <a data-toggle='modal' data-target='#filterTreatmentPlanModal'>
                                        <i class="fa fa-filter"></i>
                                    </a>
                                </div>


                                   <div class="pull-right" style="padding-left:10px;">
                                        <a>
                                            <i class="fa fa-print"></i>
                                            <label><small>Print/Export</small></label>
                                        </a> 
                                    </div>

                                <div class="pull-right" style="padding-left:10px;" >
                                        <input type="checkbox" class="hidden" hx-get="{% url 'whole_ward_view' %}?id=PlanStatus" hx-trigger='click'  hx-swap='innerHTML' hx-target='#treatment-plan-tab' hx-include="[name='plan_status']"  value="Dismissed" name="plan_status" id="dismissed_cb">
                                        <label for="dismissed_cb"><small>Dismissed</small></label>                                    
                                </div>

                                <div class="pull-right" style="padding-left:10px;" >
                                        <input type="checkbox" class="hidden" hx-get="{% url 'whole_ward_view' %}?id=PlanStatus" hx-trigger='click'  hx-swap='innerHTML' hx-target='#treatment-plan-tab' hx-include="[name='plan_status']"  value="Completed" name="plan_status" id="completed_cb">
                                        <label for="completed_cb"><small>Completed</small></label>                                    
                                </div>
                                <div class="pull-right" style="padding-left:10px;" >
                                        <input type="checkbox" class="hidden" hx-get="{% url 'whole_ward_view' %}?id=PlanStatus" hx-trigger='click'  hx-swap='innerHTML' hx-target='#treatment-plan-tab' hx-include="[name='plan_status']"  value="NoStatus" name="plan_status" id="no_status_cb">
                                        <label for="completed_cb"><small>No Status</small></label>                                    
                                </div>

                                <!--
                                <div class="pull-right" style="padding-left:10px;" >
                                        <label><small>Dismissed</small></label>                                    
                                </div>

                                <div class="pull-right" style="padding-left:10px;" >
                                        <label><small>Completed</small></label>
                                    
                                </div>

                               <div class="pull-right" style="padding-left:10px;" onclick="">
                                    
                                        <label><small>Today</small></label>
                                     
                                </div>-->


                        </div>
                        </div>
                        <div class="card card-box col-md-8" id="search-plan-id" style="display:none;">
                           <div class="row" style="padding-bottom: 10px;">
                               <div style="padding-right:10px;">
                                    <label><small>Look For</small></label>
                               </div>
                               <form method="GET" id="search-plan-form-id">
                                   <div>
                                        <input type="text" list="patient_data_list" name="search-plan" id="search-plan" class="col-md-6"> 
                                        <small><button type="button" onclick="submitPlanSearchForm()">Find Now</button></small> 

                                   </div>
                               </form>
                               <div class="pull-right">
                                    <a onclick="closeSearchDiv()"> <i class="fa fa-times"></i></a> 
                               </div>

                            </div>
                        </div>

                        <div class="col-md-12 " id="treatment-plan-table-id">
                             <div class="card-body" style="overflow-y:scroll;overflow-x:scroll;height: 500px;width: 900px;">

                                                <table id=""  class=" ml-table-bordered" style=" border: 10px; border-color: black;">
                                <thead style="background-color: lightgrey;">
                                    <tr class="">
                                        <th class="text-center"><small> Patient </small></th>
                                        <th class="text-center"><small> Registered on </small></th>
                                        <th class="text-center"><small> View </small></th>
                                        <th class="text-center"><small> Edit </small></th>
                                        <th class="text-center"><small> Delete </small></th>
                                        <th class="text-center"><small> Status </small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for plan in plan_list %}
                                {% include "inpatient_app/partials/view_treatment_plan_modal.html" %}
                                {% include "inpatient_app/partials/edit_treatment_plan_modal.html" %}
                                {% include "inpatient_app/partials/delete_dialog_box.html" %}
                                {% include "inpatient_app/partials/change_plan_status.html" %}
                                {% include "inpatient_app/partials/modals/treatment_plan_action.html" %}

                                        <tr class="" style="height:40px;">
                                            <td style="width:200px;" class="text-center" ><a href="{% url 'core:activities' plan.patient.id %}"> <small>{{ plan.patient}} </small></a></td>
                                            <td style="width:200px;" class="text-center"><small><a href="" data-toggle='modal' data-target= '#treatmentPlanActionModal{{plan.id}}' > {{plan.registered_on}}</a></small> </td>
                                            <td style="width:100px;" class="text-center"><small> <a href="" data-toggle='modal' data-target= '#viewTreatmentPlanModal{{plan.id}}' ><i class="fa fa-eye"></i></a>  </small> </td>
                                            <td style="width:100px;" class="text-center"><small> <a href="" data-toggle="modal" data-target="#editTreatmentPlanModal{{plan.id}}"  ><i class="fa fa-edit"></i></a></small></td>
                                            <td style="width:100px;" class="text-center"><small>  <a href="" data-target="#deleteTreatmentPlanModal{{plan.id}}" data-toggle='modal'  ><i class="fa fa-trash"></i></a></small></td>
                                            <td style="width:200px;" class="text-center"><small>{{plan.status}}  <a href="" data-toggle='modal' data-target= '#changePlanStatusModal{{plan.id}}' > <i class="fa fa-edit"></i></a></small></td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    </div>
            
            </div>
