{% load custom_dict %}
                <div class="tab-pane {% if active_tab == 'plan_tab' %} {% else %} active {% endif %}" id="drug_price_tab">


                                        {% for category in category_list %}

                                        <div class="col-md-12" style="padding-top:30px;">
                                        <legend class="panel panel-heading panel-heading-gray"> 

                                             <div class="row">       
                                                    <div>
                                                        
                                                    <b>{{category}}</b>
                                                        
                                                   </div>
                                                    <div style="padding-left:5px;">
                                                        <p style="color: grey;"><small> Used Beds/Total Beds:</small></p> 
                                                    </div>
                                                    <div style="padding-left:5px;">
                                                        <p ><small>{{category.used_bed_amount}}/{{category.total_bed_amount}}</small></p> 
                                                    </div>

                                                    <div style="padding-left:20px;">

                                                        <p style="color: grey;"><small>Expected Discharges in next 24hrs: </small></p> 
                                                    </div>
                                                    <div style="padding-left:5px;">
                                                        <p ><small>0 </small></p> 
                                                    </div>

                                                        </div>

                                        </legend>
                                        </div>
                <div style="padding-left:50px;">

                                        {% for ward in category.sp_category.all %}
                                            {% if ward.by_gender in gender_value%}
                            

                                <div class="card card-box col-md-10" >
                                        <div class="col" style="padding-bottom:30px;">
                                        <small>
                                        <b>{{ ward}} 
                                            {% if ward.by_gender == "MALE" %} 
                                            <i class="fa fa-male"></i>
                                            {% elif ward.by_gender == "FEMALE" %}
                                            <i class="fa fa-female"></i>
                                            {% elif ward.by_gender == "MIXED" %}
                                            <i class="fa fa-female"></i>
                                            <i class="fa fa-male"></i>
                                            {% endif %}

                                        </b>
                                            </small>
                                        </div>

                                            <div class="row">

                                            {% for bed in ward.sp_ward.all %}
                                            {% if bed.ward.by_gender in gender_value%}

                    {% include "inpatient_app/partials/admit_patient_modal.html" %}
                    {% include "inpatient_app/partials/edit_ward_admission_modal.html" %}
                    {% include "inpatient_app/partials/delete_ward_admission_dialog_box.html" %}

                                            <div class="col-md-2 " onmouseover="showHistoryModal({{bed.id}})" onmouseout="hideHistoryModal({{bed.id}})">
                                                <div class="" >
                                                    <div class="card card-box no-padding " style="background-color:white;">
                                                        <div class="doctor-profile">                                    
                                                            <div class="" style="background-color: lightgrey;">
                                                                <div class=""><small >{{ bed.name }}</small> </div>

                                                            </div>
                                                            <div style="padding-top:10px;">
                                                                <p><i style="width: 30px;" class="fa fa-bed fa-1x"></i></p> 
                                                            </div>
                                                            <div class="profile-userbuttons">
                                                            {% if bed.patient == None %}
                                                            <a id="admit-patient-id{{bed.id}}" data-toggle="modal" data-target="#admitPatientModal{{bed.id}}" style="display: none;" href="">
                                                              <small>  Admit Patient </small>
                                                            </a>
                                                            {% else %}
                                                            <div class="col" id="admit-patient-id{{bed.id}}" style="display:none;">
                                                                <div >
                                                                    <a   href="{% url 'core:patient_dashboard' bed.patient.id %}">
                                                                        <span><small>{{bed.patient}}</small></span>
                                                                    </a>
                                                                </div>
                                                                <div>
                                                                    <div class="row" style="padding-left: 20px;">
                                                                        <div style="padding-right: 8px;">
                                                                            <span><small><a href="" data-toggle="modal" data-target="#editWardAdmissionModal{{bed.id}}"><i class="fa fa-edit"></i></a></small></span>
                                                                        </div>
                                                                        <div>
                                                                            {% can_be_discharged bed.patient.id %}
                                                                            {% if can_be_discharged %}
                                                                            <span><small><a href="" data-toggle="modal" data-target="#deleteWardAdmissionModal{{bed.id}}"><i class="fa fa-trash"></i></a></small></span>          
                                                                            {%endif%}                                                                  
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            {% endif %}
                                                            </div>

                                                            <br>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                            </div>
                                            {% endif %}
                                          {% endfor %}
                    </div>
                                        {% endfor %}
               </div>


