{% load custom_dict %}

                <div class="tab-pane " id="vital-sign-chart">
                                   <div class="col-md-12"  id="payment-status-pie-chart-id">
                                        <div class="card" style="overflow-y:scroll;overflow-x:scroll; height: 700px;width: 1000px;">
                                            <div class="card-head">
                                                <header>Vital Sign</header>
                                            </div>
                                    
                                            <div id="demo_line_container">{{ demo_chart|safe }}</div>
                                        </div>
                                    </div>

                </div>