{% load custom_dict %}

                <div class="tab-pane active" id="patient-oxygen-saturation-chart">

                                   <div class="col-md-12"  id="payment-status-pie-chart-id">
                                        <div class="card" style="overflow-y:scroll;overflow-x:scroll; height: 500px;width: 1000px;">
                                            <div class="card-head">
                                                <header>Oxygen Saturation  {{ratio}} %</header>
                                                <i class="fa fa-filter"> </i>
                                            </div>
                                    
                                            <div id="patient_oxygen_saturation_chart_container">{{oxygen_saturation_chart|safe }}</div>
                                        </div>
                                    </div>

                </div>