<div class="modal fade" id="createThresholdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form method="POST" action="{% url 'save_threshold' %}" >
                        {% csrf_token %}

                <h4 class="modal-title center">
                        <button class="btn " type="submit">Save And Close</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </h4>
            </div>
            <div class="modal-body">

                    <div class="form-group row col-md-12">
                        <label for="labsection" class="col-md-3 control-label"><small>item</small></label>
                        <div class="col-md-9">
                            {{threshold_form.item}}
                        </div>
                    </div>
                    <div class="form-group row col-md-12">
                        <label for="labsection" class="col-md-3 control-label"><small>Threshold</small></label>
                        <div class="col-md-9">
                            {{threshold_form.threshold}}
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
