<div class="modal fade md" id="modal{{ rt.id }}" tabindex="-1" role="dialog" aria-labelledby="setAccessionNumberLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <form method="POST"  action="{% url 'add_normal_range' rt.id %}" id="form_sample_1" class="form-horizontal" enctype="multipart/form-data">

            <div class="modal-header">

                <h4 class="modal-title center">

                        <button class="btn " type="submit"><i class="fa fa-save"></i>Save And Close</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--
                <button type="button" onclick="OpenModal9()">dsss</button>
                -->
                </h4>
            </div>
            <div class="modal-body">
                    {% csrf_token %}
                    {% include "lis/normal_range_form.html" %}
                </form>
            </div>
        </div>
    </div>
</div>