{% extends "base.html" %}
{% load static %}
{% block title %} Create Lab Test Type {% endblock %}

{% block style %}
    <!-- Datatables -->
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page_content %}

    <div class="col-md-12 col-sm-10">
        <div class="card card-box">
            <div class="card-head">
                <header>Lab Test Type Item Form</header>
            </div>
            <div class="card-body " id="bar-parent1">
                <form class="form-horizontal" method="POST" id="orderForm">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group row col-md-8 col-sm-10">
                            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label"> {{ field.label }} </label>
                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="offset-md-3 col-md-9">
                            <button type="submit" class="btn "> Create </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% block scripts %}
        <!-- data tables -->
        <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
        <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
        <script src="{% static 'js/pages/table/table_data.js' %}"></script>
    {% endblock %}

{% endblock %}