{% extends "base.html" %}
{% load static %}
{% block title %} Create Orders {% endblock %}

{% block style %}
    <!-- Datatables -->
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page_content %}
    {% include "lis/test_formset_modal.html" %}

    <div class="col-md-12 col-sm-10">
        <div class="card card-box">
            <div class="card-head">
                <header>Order Form</header>
            </div>
            <div class="card-body " id="bar-parent1">
                <form class="form-horizontal" method="POST" id="orderForm" >
                    {% csrf_token %}
                    {% for field in order_form %}
                        <div class="form-group row col-md-8 col-sm-10">
                            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label"> {{ field.label }} </label>
                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group row col-md-8 col-sm-10">
                        <label for="labsectionList" class="col-sm-2 control-label"> Filter Lab. Section </label>
                        <select id="labsectionList" class="form-control col-sm-10" onchange="editSearchBox(this.value)">
                            <option value="" selected>All</option>
                            {% for section in lab_sections %}
                                <option value="{{section.name}}"> {{ section.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% include "lis/added_tests.html" %}

                    <div class="form-group">
                        <div class="offset-md-3 col-md-9">
                            <button type="submit" class="btn btn-info"> Order </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% block scripts %}
        <!-- data tables -->
        <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
        <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
        <script src="{% static 'js/pages/table/table_data.js' %}"></script>
        <script>
            function addNewTest() {
                console.log("Adding new test.")
                var noOfForm = getTotalNumberOfForms();
                $('#order-form').append($('#empty-form').html())
            }

            function getTotalNumberOfForms() {
                return parseInt($('#id_form-TOTAL_FORMS').val());
            }
        </script>
        <script>
            $('#orderForm').submit(function() {
                if(!$('#orderForm input:checked').length > 0) {
                    alert("Please select at least one Laboratory test.");
                    return false;
                }
            });

            function editSearchBox(dept) {
                $('#example2_filter input:first')[0].value = dept;
                $('#example2_filter input:first').keyup();
            }
        </script>
    {% endblock %}

{% endblock %}

 <!-- <form method="POST">
        <div class="form-group" id='order-form' class="mx-auto" style="width: 250px; padding: 25px;">
            <div id="empty-form" >
                {{test_formset.empty_form.as_p}}
            </div>
            <br> AFTER EMPTY FORM <br> <br>
            {{test_formset.managements}}
            {% csrf_token %}
            {{ order_form.as_p }}
            {{ test_formset.as_p }}
            <button type="button" onclick="addNewTest()">Add Test</button>
            <input type="submit" value="Submit">
        </div>
    </form> -->