<div class="modal fade" id="filterReportModal" tabindex="-1" role="dialog" aria-labelledby="setAccessionNumberLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Apply Filter</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="GET">
                    <div class="form-group row col-md-8 col-sm-10">
                        <label for="start_date" class="col-sm-4 control-label"> From Date </label>
                        <div class="col-sm-8">
                            <input type="date" name="start_date" id="start_date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row col-md-8 col-sm-10">
                        <label for="end_date" class="col-sm-4 control-label"> End Date </label>
                        <div class="col-sm-8">
                            <input type="date" name="end_date" id="end_date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row col-md-8 col-sm-10">
                        <label for="labsection" class="col-sm-4 control-label"> Lab. Section </label>
                        <div class="col-sm-8">
                            <select name="lab_section" id="labsection" class="form-control">
                                <option value="0">All</option>
                                {% for ls in lab_sections %}
                                    <option value="{{ls.id}}">{{ ls }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row col-md-8 col-sm-10">
                        <label for="labsection" class="col-sm-4 control-label"> Lab. technician</label>
                        <div class="col-sm-8">
                            <select name="lab_section" id="labsection" class="form-control">
                                <option value="0">All</option>
                                {% for e in lab_tech_list %}
                                    <option value="{{e.id}}">{{ e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit">Filter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>