<div class="form-body">
    {% for field in normal_range_form %}
        {% if field.widget_type == 'checkbox' %}
            <div class="form-group row">
                <label class="control-label col-md-4" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                <div class="col-md-5">
                    {{ field }}
                </div>
            </div>
        {% else %}
            <div class="form-group row">
                <label class="control-label col-md-4" for="{{ field.id_for_label }}" >
                    <small>{{ field.label }}</small><span class="required"> * </span>
                </label>
                <div class="col-md-5">
                    <small> {{ field }}</small>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
