{% extends "base.html" %}
{% load static %}
{% block style %}
    <!-- data tables -->
    <link href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %} Order lists {% endblock %}

{% block page_content %}
    <div class="row">
        <form action="{% url 'mark-multiple-orders-as-paid' %}" method="POST">
            {% csrf_token %}
        <div class="col-md-12">
            <div class="card card-box">
                <div class="card-head">
                    <header>
                        Order Lists
                    </header>
                    <div class="tools">
                        {% if process_payment %}
                            <button class="btn-info"> <i class="fa fa-check green"></i> Mark Selected Orders as paid</button>
                        {% endif %}
                        <!-- <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close btn-color fa fa-times" href="javascript:;"></a> -->
                    </div>
                </div>
                <div class="card-body ">
                    <table id="example1" class="display table-bordered table-striped table-hover" style="width:100%;">
                        <thead>
                            <tr class="gradeX odd">
                                {% if process_payment %}
                                    <th><!-- Checkboxes to select orders as paid --></th>
                                {% endif %}
                                <th>Id</th>
                                <th>Ordered by</th>
                                <th>Priority</th>
                                <th>Ordered at</th>
                                <th>Number of tests</th>
                                <th>Progress</th>
                                <th>Price</th>
                                <th>Paid</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in order_set %}
                                <tr>
                                    {% if process_payment %}
                                        <td>
                                            <label class="rt-chkbox rt-chkbox-single rt-chkbox-outline">
                                                <input type="checkbox" name='orders' value="{{ order.id }}" class="checkboxes" />
                                                <span></span>
                                            </label>
                                        </td>
                                    {% endif %}
                                    <td> {{ order.id }}</td>
                                    <td> {{ order.ordered_by }} </td>
                                    <td> 
                                        {% if order.priority == 'EMERGENCY' %}
                                            <span class="badge badge-danger"> {{ order.priority }} </span> 
                                        {% else %}
                                            <span class="badge badge-info"> {{ order.priority }} </span>
                                        {% endif %}
                                    </td>
                                    <td> {{ order.ordered_at }} </td>
                                    <td> {{ order.no_of_tests }} </td>
                                    <td> {{ order.progress }} </td>
                                    <td> {{ order.total_price }} </td>
                                    <td> 
                                        {% if order.is_paid == True %}
                                            <i class="fa fa-check" style="color: green;"></i>
                                            <span style="display: none;">True</span>
                                        {% else %}
                                            <i class="fa fa-times" style="color: red;"></i>
                                            <span style="display: none;">False</span>
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'view-order' order.id %}">View</a></td>
                                    <!--
                                    <td>
                                        <div class="btn-group btn-group-circle">
                                            <button type="button" class="btn btn-primary">Actions</button>
                                            <button type="button" class="btn btn-circle-right btn-primary dropdown-toggle m-r-20" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(79px, 34px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                <li><a href="{% url 'view-order' order.id %}">View</a>
                                                </li>
                                                <li>
                                                    {% if order.is_paid == True %}
                                        -->                <!-- a href="#">Mark as Unpaid</a>< -->
                                           <!--         {% else %}
                                                        <a href="{% url 'mark-order-as-paid' order.id %}">Mark as paid</a>
                                                    {% endif %}
                                                </li>
                                                <li class="divider"></li>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>-->
                                </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <!-- data tables -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}" ></script>
    <script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js' %}" ></script>
    <script src="{% static 'js/pages/table/table_data.js' %}"></script>
    <script>
        // {% if process_payment %}
        //     $('#example1').DataTable({
        //         "dom": '<"toolbar">frtip',
        //         fnInitComplete: function(){
        //             $('div.toolbar').html("<button onclick=\"alert(\"hello\")\">allop </button>");
        //         }
        //     });
        // {% endif %}
    </script>
{% endblock %}