{% extends "base.html" %}
{% load static %}
{% block title %} Imaging request {% endblock %}

{% block page_content %}
    <div class="col-md-12 col-sm-10">
        <div class="card card-box">
            <div class="card-head">
                <header>Order Form</header>
            </div>
            <div class="card-body " id="bar-parent1">
                <form class="form-horizontal" method="POST" id="orderForm" action="{% url 'radiology:xray_order' patient_id %}">
                    {% csrf_token %}
                    {{ request_form.as_p }}
                    <div class="form-group">
                        <div class="offset-md-3 col-md-9">
                            <button type="submit" class="btn btn-info"> Order </button>
                        </div>
                    </div>
                </form>   
            </div>
        </div>
    </div>
{% endblock %}